<template>
  <!-- 異常管理 -> 未回報訂單查詢 -->
  <div class="unreportedOrdersForm-container">
    <el-form class="unreportedOrdersForm-form"
             label-position="left"
             ref="unreportedOrdersForm"
             :model="unreportedOrdersForm"
             label-width="120px">
      <div style="width: 100%">
        <div class="unreportedOrdersForm-title">查詢條件</div>
      </div>
      <el-divider></el-divider>
      <el-form-item>
        <el-radio-group v-model="unreportedOrdersForm.modeRadio"
                        size="medium">
          <el-radio-button label="1">集貨DC</el-radio-button>
          <el-radio-button label="2">配送DC</el-radio-button>
        </el-radio-group>
        <el-radio-group v-model="unreportedOrdersForm.areaRadio"
                        size="medium"
                        style="margin-left: 50px">
          <el-radio-button label="ALL">全部</el-radio-button>
          <el-radio-button :label="item.dcCode"
                           :key="item.dcCode"
                           v-for="item in areaData">{{ item.dcName }}</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="訂單狀態">
        <el-radio-group v-model="unreportedOrdersForm.statusRadio"
                        size="medium">
          <el-radio-button label="225">未集貨完成</el-radio-button>
          <el-radio-button label="235">未集貨回倉</el-radio-button>
          <el-radio-button label="238">未轉運裝車</el-radio-button>
          <el-radio-button label="400">未貨抵配送中心</el-radio-button>
          <el-radio-button label="600">未配貨裝車</el-radio-button>
          <el-radio-button label="900">未配送回報</el-radio-button>
          <el-radio-button label="1100">未配後回倉</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-radio-group v-model="unreportedOrdersForm.dateType"
                        size="medium">
          <el-radio-button label="1">訂單日期</el-radio-button>
          <el-radio-button label="2">集貨日期</el-radio-button>
          <el-radio-button label="3">配送日期</el-radio-button>
        </el-radio-group>
        <el-date-picker style="margin-left: 50px; font-size: 20px"
                        v-model="unreportedOrdersForm.dateRange"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="開始日期"
                        end-placeholder="結束日期">
        </el-date-picker>
        <el-button type="primary"
                   icon="el-icon-search"
                   style="margin-left: 10px"
                   @click="onQueryClick">查詢</el-button>
      </el-form-item>
    </el-form>
    <result-table ref="resultTable"
                  :is-customer-service="true"></result-table>
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import store from "@/store";
import { getDcs } from "@/api/common";
import { unreportedOrderSearch } from "@/api/orderManagement";
import ResultTable from "@/views/orderManagement/orderTracking/components/resultTable";

export default {
  components: {
    ResultTable,
  },
  data() {
    return {
      unreportedOrdersForm: {
        modeRadio: "1", // 配送模式
        areaRadio: store.getters.dcCode, // 區域
        statusRadio: "225", // 訂單狀態
        dateType: "3", // 日期選項
        dateRange: [new Date(), new Date()], // 日期範圍 [new Date(2020, 9, 10), new Date(2020, 11, 20)]
      },
      areaData: [], //
    };
  },
  beforeMount() {
    this.getDcData();
  },
  methods: {
    getDcData() {
      getDcs()
        .then((res) => {
          this.areaData = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 「條件」查詢
    onQueryClick() {
      this.$refs.resultTable.total = 0;
      this.$refs.resultTable.showData = [];
      this.$refs.resultTable.currentPage = 1;
      let dateRange = this.unreportedOrdersForm.dateRange;
      let dataFrom = {
        modeRadio: this.unreportedOrdersForm.modeRadio, // 配送模式(配送DC、集貨DC)
        areaRadio: this.unreportedOrdersForm.areaRadio, // 區域(全部、五股、觀音、晶富、虎尾、仁武)

        statusRadio: this.unreportedOrdersForm.statusRadio, // 訂單狀態(全部、完成集貨、集貨回倉…)
        dateType: this.unreportedOrdersForm.dateType, // 日期選項(訂單日期、集貨日期、配送日期)
        startDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[0], "yyyy/MM/dd")
            : null, // 開始日期
        endDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[1], "yyyy/MM/dd")
            : null, // 結束日期
      };

      this.$refs.resultTable.showLoading = true;
      unreportedOrderSearch(dataFrom)
        .then((res) => {
          this.$refs.resultTable.showLoading = false;
          this.$refs.resultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.resultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
  },
};
</script>

<style lang="scss">
.unreportedOrdersForm {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-radio-button--medium .el-radio-button__inner {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 20px;
}
</style>