<template>
  <!-- 訂單管理 -> 貨品包裝確認單查詢 -->
  <div class="goodsPackageReceiptSearch-container">
    <el-form class="goodsPackageReceiptSearch-form"
             label-position="left"
             ref="orderTrackingForm"
             :model="goodsPackageReceiptSearchForm"
             label-width="120px">
      <div style="width: 100%">
        <div class="goodsPackageReceiptSearch-title">查詢條件</div>
      </div>
      <el-divider></el-divider>
      <el-form-item label="客戶名稱">
        <el-input v-model="goodsPackageReceiptSearchForm.customerName"
                  style="width: 300px; font-size: 20px"
                  placeholder="請輸入"></el-input>
      </el-form-item>
      <el-form-item label="收貨日期">
        <el-date-picker style="font-size: 20px"
                        v-model="goodsPackageReceiptSearchForm.dateRange"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="開始日期"
                        end-placeholder="結束日期">
        </el-date-picker>
        <el-button type="primary"
                   icon="el-icon-search"
                   style="margin-left: 10px"
                   @click="onQueryClick">查詢</el-button>
      </el-form-item>
    </el-form>
    <goods-package-result-table ref="goodsPackageResultTable"></goods-package-result-table>
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import { goodsPackageSearch } from "@/api/exceptionManagement";
import GoodsPackageResultTable from "./components/goodsPackageResultTable.vue";
export default {
  components: {
    GoodsPackageResultTable,
  },
  data() {
    return {
      goodsPackageReceiptSearchForm: {
        customerName: "", // 客戶名稱
        dateRange: [new Date(), new Date()], // 日期範圍 [new Date(2020, 9, 10), new Date(2020, 11, 20)]
      },
    };
  },
  methods: {
    onQueryClick() {
      this.$refs.goodsPackageResultTable.total = 0;
      this.$refs.goodsPackageResultTable.showData = [];
      this.$refs.goodsPackageResultTable.currentPage = 1;
      let dateRange = this.goodsPackageReceiptSearchForm.dateRange;
      let dataFrom = {
        customerName: this.goodsPackageReceiptSearchForm.customerName, // 客戶名稱
        startDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[0], "yyyy/MM/dd")
            : null, // 開始日期
        endDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[1], "yyyy/MM/dd")
            : null, // 結束日期
      };
      this.$refs.goodsPackageResultTable.showLoading = true;
      goodsPackageSearch(
        dataFrom.customerName,
        dataFrom.startDate,
        dataFrom.endDate
      )
        .then((res) => {
          this.$refs.goodsPackageResultTable.showLoading = false;
          this.$refs.goodsPackageResultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.goodsPackageResultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
  },
};
</script>

<style lang="scss">
.goodsPackageReceiptSearch {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-radio-button--medium .el-radio-button__inner {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 20px;
}
</style>