<template>
  <el-dialog :visible.sync="dialogVisible"
             title="修改物流士名稱">
    <el-form :model="logisticianData"
             ref="logisticianForm"
             :rules="logisticianRules"
             label-width="150px"
             label-position="right">
      <el-form-item label="物流士名稱"
                    prop="hrsStaffName">
        <el-input v-model="logisticianData.hrsStaffName"
                  placeholder="物流士名稱" />
      </el-form-item>
      <el-form-item style="text-align: right">
        <el-button type="danger"
                   @click="dialogVisible = false">取消</el-button>
        <el-button type="primary"
                   @click="submit">確定</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import { editLogistician } from "@/api/logisticianAndVehicleManagement";

export default {
  data() {
    return {
      logisticianData: {
        id: "",
        hrsStaffName: "",
      },
      dialogVisible: false,
      logisticianRules: {
        hrsStaffName: [
          { required: true, message: "請輸入物流士名稱", trigger: "blur" },
        ],
      },
    };
  },
  methods: {
    setValue(visible, data) {
      this.logisticianData.id = data.id;
      this.logisticianData.hrsStaffName = data.userName;
      this.dialogVisible = visible;
    },
    submit() {
      this.$refs.logisticianForm.validate((valid) => {
        if (valid) {
          editLogistician(this.logisticianData.id, {
            name: this.logisticianData.hrsStaffName,
          })
            .then((res) => {
              this.$message({
                type: "success",
                message: "物流士修改成功",
              });
              this.$emit("childMethod");
            })
            .catch((err) => {
              console.log(err);
            });
          this.dialogVisible = false;
        }
      });
    },
  },
};
</script>

<style>
</style>