<template>
  <div class="logisticianResultTable-container">
    <span class="logisticianResultTable-title">物流士查詢結果</span>
    <el-divider></el-divider>
    <el-table v-loading="showLoading"
              element-loading-text="Loading..."
              border
              fit
              highlight-current-row
              :header-cell-style="tableHeaderColor"
              :cell-style="tableCellColor"
              style="width: 100%"
              :data="showData">
      <el-table-column align="center"
                       prop="id"
                       label=""
                       :min-width="150">
        <template slot-scope="scope">
          <el-button type="primary"
                     icon="el-icon-edit"
                     class="logisticianResultTable-textSize"
                     @click="handleEdit(scope.$index, scope.row)"></el-button>
          <el-button type="primary"
                     icon="el-icon-delete"
                     class="logisticianResultTable-textSize"
                     @click="handleDelete(scope.$index, scope.row)"></el-button>
        </template>
      </el-table-column>
      <el-table-column align="center"
                       prop="userNo"
                       label="物流士編號"
                       :min-width="120">
      </el-table-column>
      <el-table-column align="center"
                       prop="userName"
                       label="物流士名稱"
                       :min-width="120">
      </el-table-column>
      <el-table-column align="center"
                       prop="company"
                       label="公司別"
                       :min-width="120">
      </el-table-column>
      <el-table-column align="center"
                       prop="updateTime"
                       label="更新日期"
                       :min-width="250">
      </el-table-column>
      <el-table-column align="center"
                       prop="updator"
                       label="更新人"
                       :min-width="150">
      </el-table-column>
      <el-table-column align="center"
                       prop="id"
                       label="條碼"
                       :min-width="100">
        <template slot-scope="scope">
          <el-button type="primary"
                     class="logisticianResultTable-textSize"
                     @click="handleBarcode(scope.$index, scope.row)">
            <svg-icon style="font-size: 20px;"
                      icon-class="barcode" />
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination class="table-pagination"
                   background
                   @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[5, 10, 15, 30]"
                   :page-size="pageSize"
                   layout="prev, pager, next, total,sizes"
                   :total="total">
    </el-pagination>
    <logistician-dialog ref="logisticianDialog"
                        v-on:childMethod="logisticianMethod"></logistician-dialog>
  </div>
</template>

<script>
import { deleteLogistician } from "@/api/logisticianAndVehicleManagement";
import logisticianDialog from "./logisticianDialog.vue";
export default {
  components: { logisticianDialog },
  data() {
    return {
      showLoading: false,
      currentPage: 1,
      pageSize: 5,
      total: 0,
      resultData: [],
      showData: [],
    };
  },
  methods: {
    // 「修改」按鈕
    handleEdit(idx, rowData) {
      this.$refs.logisticianDialog.setValue(true, rowData);
    },
    logisticianMethod() {
      this.$emit("childMethod");
    },
    // 「刪除」按鈕
    handleDelete(idx, rowData) {
      this.$confirm("確定刪除物流士?", "Warning", {
        confirmButtonText: "移除",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          await deleteLogistician(rowData.id);
          this.$emit("childMethod");
          this.$message({
            type: "success",
            message: "物流士已移除",
          });
          this.$message({
            type: "success",
            message: "删除成功",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    // 「條碼」按鈕
    handleBarcode(idx, rowData) {
      let routeUrl = this.$router.resolve({
        path: "/showDriverPassBarcode",
        query: {
          driver: rowData.userNo,
          driverDisName: rowData.userName,
        },
      });
      window.open(routeUrl.href, "_blank");
    },
    // 修改table header的背景色
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;";
      }
    },
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      return "font-size: 16px;";
    },
    getDataSource(data) {
      this.total = data.length;
      this.resultData = data;
      this.showData = data;
      this.currentChangePage(this.resultData, this.currentPage);
    },
    // 每頁條數切換
    handleSizeChange(pageSize) {
      this.pageSize = pageSize;
      this.handleCurrentChange(this.currentPage);
    },
    // 頁碼切換
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.currentChangePage(this.resultData, currentPage);
    },
    // 分頁方法
    currentChangePage(tableData, currentPage) {
      let from = (currentPage - 1) * this.pageSize;
      let to = currentPage * this.pageSize;
      this.tempList = [];
      for (; from < to; from++) {
        if (tableData[from]) {
          this.tempList.push(tableData[from]);
        }
      }
      this.showData = this.tempList;
    },
  },
};
</script>

<style lang="scss" scoped>
.logisticianResultTable {
  &-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
</style>