<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!--<title><%= webpackConfig.name %></title>-->
    <title>全日B2B運輸管理系統</title>
  </head>
  <body>
    <noscript>
      <!--<strong>We're sorry but <%= webpackConfig.name %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>-->
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
