<template>
  <!-- 物流士與車輛管理 -> 車輛管理 -->
  <div class="vehicle-container">
    <el-form class="vehicle-form"
             :label-position="labelPosition"
             ref="vehicleForm"
             :rules="vehicleRules"
             :model="vehicleForm">
      <div style="width: 100%">
        <div class="vehicle-title">車輛新增查詢</div>
      </div>
      <el-divider></el-divider>
      <el-row>
        <el-col :xs="24"
                :sm="24"
                :md="24"
                :lg="15"
                :xl="12">
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="物流中心">
                <el-select style="width: 100%"
                           v-model="vehicleForm.logisticsCenter"
                           :disabled="true"
                           filterable
                           placeholder="請選擇">
                  <el-option v-for="item in logisticsCenterOptions"
                             :key="item.dcCode"
                             :label="item.dcName"
                             :value="item.dcCode">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="公司別">
                <el-select style="width: 100%"
                           v-model="vehicleForm.company"
                           filterable
                           placeholder="請選擇">
                  <el-option v-for="item in companyOptions"
                             :key="item.code"
                             :label="item.name"
                             :value="item.code">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24"
                :sm="24"
                :md="24"
                :lg="15"
                :xl="12">
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="車輛種類"
                            prop="vehicleType">
                <el-select style="width: 100%"
                           v-model="vehicleForm.vehicleType"
                           @change="onVehicleTypeChange"
                           filterable
                           placeholder="請選擇">
                  <el-option v-for="item in vehicleTypeOptions"
                             :key="item.value"
                             :label="item.label"
                             :value="item.value">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="車號"
                            prop="carNumber">
                <el-input v-model="vehicleForm.carNumber"
                          :onkeyup="vehicleForm.carNumber = vehicleForm.carNumber.toUpperCase()"
                          placeholder="請輸入車號"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="噸數"
                            prop="tonnes">
                <el-input style="width: calc(100% - 25px)"
                          type="number"
                          @keyup.native="tonnesKeyup($event)"
                          v-model="vehicleForm.tonnes"
                          :disabled="vehicleForm.vehicleType === 1"
                          placeholder="請輸入噸數"></el-input>
                <span style="font-size:20px;margin-left: 5px;">噸</span>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24"
                :sm="24"
                :md="24"
                :lg="12"
                :xl="12">
          <el-row :gutter="10">
            <el-col :span="12">
              <el-button type="primary"
                         :disabled="vehicleForm.company == null ||vehicleForm.vehicleType == null"
                         @click="onCreateClick">新增</el-button>
            </el-col>
            <el-col :span="12">
              <el-button type="primary"
                         @click="onQueryClick">查詢</el-button>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-form>
    <vehicle-result-table ref="vehicleResultTable"
                          v-on:childMethod="vehicleResultTableMethod"></vehicle-result-table>
  </div>
</template>

<script>
import store from "@/store";
import XEUtils from "xe-utils";
import { getCompany, getDcs } from "@/api/common";
import {
  searchVehicle,
  createVehicle,
} from "@/api/logisticianAndVehicleManagement";
import vehicleResultTable from "./components/vehicleResultTable.vue";

export default {
  components: { vehicleResultTable },
  data() {
    let tonnesValid = (rule, value, callback) => {
      if (this.vehicleForm.vehicleType !== 1) {
        if (XEUtils.isEmpty(value)) callback(new Error("請輸入噸數"));
        if (XEUtils.isInteger(value) || XEUtils.isFloat(value)) {
          callback();
        } else {
          callback(new Error("請輸入正確噸數"));
        }
      } else {
        callback();
      }
    };
    let carNumberValid = (rule, value, callback) => {
      if (XEUtils.isEmpty(value)) callback(new Error("請輸入車牌"));
      if (value.match(/-/)) {
        callback();
      } else {
        callback(new Error("請輸入正確車牌"));
      }
    };
    return {
      labelPosition: "top",
      vehicleRules: {
        tonnes: [{ validator: tonnesValid, trigger: "change" }],
        carNumber: [{ validator: carNumberValid, trigger: "change" }],
      },
      vehicleForm: {
        logisticsCenter: store.getters.dcCode, // 物流中心
        company: null, // 公司別
        vehicleType: null, // 車輛種類
        carNumber: "", // 車號
        tonnes: "", // 噸數
      },
      logisticsCenterOptions: [],
      companyOptions: [],
      vehicleTypeOptions: [
        {
          label: "全部",
          value: null,
        },
        {
          label: "貨櫃板架",
          value: 1,
        },
        {
          label: "貨櫃車頭",
          value: 2,
        },
        {
          label: "貨車",
          value: 3,
        },
      ],
    };
  },
  beforeMount() {
    this.getLogisticsCenterOptions();
    this.getCompany();
  },
  methods: {
    tonnesKeyup(e) {
      var keynum = window.event ? e.keyCode : e.which;
      // 189 : -
      // 187 : +
      if (keynum == 189 || keynum == 187) {
        e.target.value = "";
      }
    },
    // 車輛種類 onChange
    onVehicleTypeChange() {
      if (this.vehicleForm.vehicleType === 1) {
        this.vehicleForm.tonnes = "";
      }
    },
    // 取得「物流中心」下拉選單資料
    getLogisticsCenterOptions() {
      getDcs()
        .then((res) => {
          this.logisticsCenterOptions = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 取得「公司別」下拉選單資料
    getCompany() {
      getCompany(store.getters.dcCode)
        .then((res) => {
          this.companyOptions = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 新增
    onCreateClick() {
      this.$refs.vehicleForm.validate((valid) => {
        if (valid) {
          let dataObj = {
            dcNo: this.vehicleForm.logisticsCenter,
            carType:
              this.vehicleForm.vehicleType != null
                ? this.vehicleForm.vehicleType
                : "",
            carNo: this.vehicleForm.carNumber,
            wt: this.vehicleForm.tonnes,
            company:
              this.vehicleForm.company != null ? this.vehicleForm.company : "",
          };
          createVehicle(dataObj)
            .then((res) => {
              if (res.code === 200) {
                this.$message({
                  type: "success",
                  message: "車輛新增成功",
                });
                this.onQueryClick();
              } else if (res.code === 400) {
                this.$message({
                  type: "warning",
                  message: res.msg,
                });
              }
            })
            .catch((err) => {
              console.log(err);
            });
        }
      });
    },
    // 刪除 method
    vehicleResultTableMethod() {
      this.onQueryClick();
    },
    // 查詢
    onQueryClick() {
      this.$refs.vehicleResultTable.total = 0;
      this.$refs.vehicleResultTable.showData = [];
      this.$refs.vehicleResultTable.currentPage = 1;
      this.$refs.vehicleForm.clearValidate("carNumber");
      this.$refs.vehicleForm.clearValidate("tonnes");
      let dataObj = {
        dcNo: this.vehicleForm.logisticsCenter,
        carType:
          this.vehicleForm.vehicleType != null
            ? this.vehicleForm.vehicleType
            : "",
        carNo: this.vehicleForm.carNumber,
        wt: this.vehicleForm.tonnes,
        company:
          this.vehicleForm.company != null ? this.vehicleForm.company : "",
      };
      searchVehicle(
        dataObj.dcNo,
        dataObj.carType,
        dataObj.carNo,
        dataObj.wt,
        dataObj.company
      )
        .then((res) => {
          this.$refs.vehicleResultTable.getDataSource(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss">
.vehicle {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
</style>