<template>
  <div class="role-container">
    <el-button type="primary"
               icon="el-icon-plus"
               size="small"
               @click="openRoleDialog(false)"></el-button>
    <el-table v-loading="showLoading"
              element-loading-text="Loading..."
              border
              fit
              highlight-current-row
              :header-cell-style="tableHeaderColor"
              :cell-style="tableCellColor"
              style="width: 100%; margin-top: 30px"
              :data="roleTableData">
      <el-table-column align="center"
                       label="編輯"
                       width="100">
        <template slot-scope="scope">
          <el-button type="primary"
                     size="small"
                     icon="el-icon-edit"
                     @click="openRoleDialog(true, scope)"></el-button>
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="刪除"
                       width="100">
        <template slot-scope="scope">
          <el-button type="danger"
                     size="small"
                     icon="el-icon-delete"
                     @click="handleDelete(scope)"></el-button>
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="角色"
                       width="220">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="啟用狀態">
        <template slot-scope="scope">
          <i v-if="scope.row.enabled"
             style="color: #67C23A"
             class="el-icon-check"></i>
          <i v-else
             style="color: #F56C6C"
             class="el-icon-close"></i>
        </template>
      </el-table-column>
      <el-table-column align="header-center"
                       label="描述">
        <template slot-scope="scope">
          {{ scope.row.description }}
        </template>
      </el-table-column>
    </el-table>
    <el-pagination class="table-pagination"
                   background
                   @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[5, 10, 15, 30]"
                   :page-size="pageSize"
                   layout="prev, pager, next, total,sizes"
                   :total="total">
    </el-pagination>
    <role-dialog ref="roleDialog"
                 v-on:childMethod="roleDialogMethod"></role-dialog>
  </div>
</template>

<script>
import {
  getRoles,
  deleteRole
} from "@/api/role";
import roleDialog from './components/roleDialog.vue';

export default {
  components: { roleDialog },
  data() {
    return {
      showLoading: false,
      currentPage: 1,
      pageSize: 15,
      total: 0,
      resultData: [],
      roleTableData: [],
    }
  },
  mounted() {
    this.getTableDataSource();
  },
  methods: {
    // 取得所有角色列表資料
    async getTableDataSource() {
      this.showLoading = true;
      await getRoles().then((res) => {
        let tableData = res.data;
        this.total = tableData.length;
        this.resultData = tableData;
        this.roleTableData = tableData;
        this.showLoading = false;
        this.currentChangePage(this.resultData, this.currentPage);
      }).catch((err) => {
        this.showLoading = false;
        console.log(err);
      })
    },
    // 每頁條數切換
    handleSizeChange(pageSize) {
      this.pageSize = pageSize;
      this.handleCurrentChange(this.currentPage);
    },
    // 頁碼切換
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.currentChangePage(this.resultData, currentPage);
    },
    // 分頁方法
    currentChangePage(tableData, currentPage) {
      let from = (currentPage - 1) * this.pageSize;
      let to = currentPage * this.pageSize;
      this.tempList = [];
      for (; from < to; from++) {
        if (tableData[from]) {
          this.tempList.push(tableData[from]);
        }
      }
      this.roleTableData = this.tempList;
    },
    // 增加 & 編輯「角色」
    openRoleDialog(isEdit, scope) {
      let roleData = null;
      if (scope != null) {
        let editRoleData = {
          id: scope.row.id,
          roleName: scope.row.name,
          enabled: scope.row.enabled,
          description: scope.row.description,
          siteNodes: scope.row.resources[0].resource.split(","),
        }
        roleData = editRoleData;
      }
      this.$refs.roleDialog.setValue(true, roleData, isEdit);
    },
    // 刪除「角色」
    handleDelete({ $index, row }) {
      this.$confirm("確定刪除角色?", "Warning", {
        confirmButtonText: "移除",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          await deleteRole(row.id);
          this.getTableDataSource();
          this.$message({
            type: "success",
            message: "角色已移除",
          });
          this.$message({
            type: 'success',
            message: '删除成功'
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
    },
    // 新增 & 編輯角色成功後
    roleDialogMethod() {
      this.getTableDataSource();
    },
    // 修改 table header 樣式
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;";
      }
    },
    // 修改 table 內容樣式
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      return "font-size: 16px;";
    },
  }
}
</script>

<style lang="scss" scoped>
.role {
  &-container {
    padding: 0 20px 20px;
  }
}
</style>