<template>
  <div class="goodsPackageResultTable-container">
    <span class="goodsPackageResultTable-title"> 查詢結果 </span>
    <el-divider></el-divider>
    <el-table v-loading="showLoading"
              element-loading-text="Loading"
              border
              fit
              highlight-current-row
              :header-cell-style="tableHeaderColor"
              :cell-style="tableCellColor"
              style="width: 100%"
              :data="showData">
      <el-table-column align="center"
                       prop="id"
                       label="檢視"
                       :min-width="100">
        <template slot-scope="scope">
          <el-button type="primary"
                     class="goodsPackageResultTable-textSize"
                     @click="handleView(scope.$index, scope.row)">檢視</el-button>
        </template>
      </el-table-column>
      <el-table-column header-align="center"
                       align="center"
                       prop="custName"
                       label="客戶名稱"
                       :min-width="170">
      </el-table-column>
      <el-table-column align="center"
                       prop="date"
                       label="收貨日期"
                       :min-width="120">
      </el-table-column>
      <el-table-column align="center"
                       prop="time"
                       label="回報時間"
                       :min-width="120">
      </el-table-column>
      <el-table-column align="center"
                       prop="reason"
                       label="外箱狀態"
                       :min-width="120">
      </el-table-column>
      <el-table-column align="center"
                       prop="temperature"
                       label="外箱溫度"
                       :min-width="120">
      </el-table-column>
    </el-table>
    <el-pagination class="table-pagination"
                   background
                   @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[5, 10, 15, 30]"
                   :page-size="pageSize"
                   layout="prev, pager, next, total,sizes"
                   :total="total">
    </el-pagination>
    <packing-confirmation-dialog ref="packingConfirmationDialog"></packing-confirmation-dialog>
  </div>
</template>

<script>
import { getGoodsPackageListById } from "@/api/exceptionManagement";
import packingConfirmationDialog from "./packingConfirmationDialog.vue";
export default {
  components: { packingConfirmationDialog },
  data() {
    return {
      showLoading: false,
      currentPage: 1,
      pageSize: 5,
      total: 0,
      resultData: [],
      showData: [],
    };
  },
  methods: {
    // 修改table header的背景色
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;";
      }
    },
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      return "font-size: 16px;";
    },
    // 「檢視」按鈕
    handleView(idx, rowData) {
      getGoodsPackageListById(rowData.id)
        .then((res) => {
          this.$refs.packingConfirmationDialog.setValue(true, res.data);
        })
        .catch((err) => {
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    getDataSource(data) {
      this.total = data.length;
      this.resultData = data;
      this.showData = data;
      this.currentChangePage(this.resultData, this.currentPage);
    },
    // 每頁條數切換
    handleSizeChange(pageSize) {
      this.pageSize = pageSize;
      this.handleCurrentChange(this.currentPage);
    },
    // 頁碼切換
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.currentChangePage(this.resultData, currentPage);
    },
    // 分頁方法
    currentChangePage(tableData, currentPage) {
      let from = (currentPage - 1) * this.pageSize;
      let to = currentPage * this.pageSize;
      this.tempList = [];
      for (; from < to; from++) {
        if (tableData[from]) {
          this.tempList.push(tableData[from]);
        }
      }
      this.showData = this.tempList;
    },
  },
};
</script>

<style lang="scss" scoped>
.goodsPackageResultTable {
  &-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
  &-textSize {
    font-size: 16px;
  }
}
</style>