<template>
  <el-dialog :visible.sync="dialogVisible"
             width="50%"
             :before-close="handleClose"
             class="popup-row">
    <div class="packingConfirmation-container">
      <div class="img_content">
        <img src="../../../../assets/logo_2.png"
             alt=""
             class="logo-img"
             width="150px"
             height="40px"
             srcset="">
        <span class="logo-text">全日物流股份有限公司</span>
      </div>
      <el-button class="export_btn"
                 type="primary"
                 @click="exportPackingListPdf">匯出貨品包裝確認單 PDF</el-button>
      <pdf :src="pdfUrl"></pdf>

      <el-row class="packingConfirmation-row">
        <div class="img_datetime">
          {{ imgDateTime }}
        </div>
        <el-col style="margin-right: 30px"
                :span="10"
                v-for="(item, index) in imgList"
                :key="index"
                :offset="1">
          <el-card class="exceptionRecord-card"
                   :body-style="{ padding: '0px' }">
            <img :src="item.src"
                 width="100%"
                 alt="">
          </el-card>
        </el-col>
      </el-row>
    </div>
  </el-dialog>
</template>

<script>
import pdf from "vue-pdf";
import {
  getPackingListPhotos,
  getPackingListPdf,
} from "@/api/exceptionManagement";
export default {
  components: { pdf },
  data() {
    return {
      dialogVisible: false,
      imgDateTime: "",
      imgList: [],
      id: "",
      pdfUrl: "",
      pdfData: "",
    };
  },
  methods: {
    setValue(visible, data) {
      if (data) {
        this.id = data.id;
        this.imgDateTime = data.createTime;
        this.setPhotos(data.photoIds);
        this.setPdgImg(this.id);
      }
      this.dialogVisible = visible;
    },
    // 匯出貨品包裝確認單 PDF
    exportPackingListPdf() {
      getPackingListPdf(this.id)
        .then((res) => {
          this.pdfData = res;
          let blob = new Blob([this.pdfData], { type: "application/pdf" });
          window.open(window.URL.createObjectURL(blob));
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 顯示 PDF 圖片
    setPdgImg() {
      getPackingListPdf(this.id)
        .then((res) => {
          this.pdfData = res;
          this.pdfUrl = URL.createObjectURL(new Blob([res]));
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 下載照片至 UI
    setPhotos(photoItems) {
      photoItems.forEach((item) => {
        getPackingListPhotos(item)
          .then((res) => {
            let blob = new Blob([res], { type: "image/png" });
            let imageUrl = (window.URL || window.webkitURL).createObjectURL(
              blob
            );
            let imgItem = {
              id: item,
              src: imageUrl,
            };
            this.imgList.push(imgItem);
          })
          .catch((err) => {
            console.log(err);
          });
      });
    },
    handleClose(done) {
      this.imgList = [];
      done();
    },
    close() {
      this.imgList = [];
      this.dialogVisible = false;
    },
  },
};
</script>

<style lang="scss">
.packingConfirmation {
  &-row {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.img_content {
  margin: 0px 20px;
}
.logo-img {
  vertical-align: middle;
}
.logo-text {
  vertical-align: middle;
  font-size: 38px;
  font-weight: bold;
  padding-left: 40px;
}
.img_datetime {
  margin-bottom: 10px;
  margin-right: 40px;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}
.export_btn {
  margin: 20px 20px;
  font-size: 20px;
}
.el-dialog__body {
  padding-top: 0px !important;
}
</style>