<template>
  <!-- 物流士與車輛管理 -> 物流士管理 -->
  <div class="logistician-container">
    <el-form
      ref="logisticianForm"
      class="logistician-form"
      :label-position="labelPosition"
      :rules="logisticianRules"
      :model="logisticianForm"
    >
      <div style="width: 100%">
        <div class="logistician-title">物流士新增查詢</div>
      </div>
      <el-divider />
      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
          <el-row :gutter="10">
            <el-col :span="12">
              <el-form-item label="物流中心">
                <el-select
                  v-model="logisticianForm.logisticsCenter"
                  style="width: 100%"
                  :disabled="true"
                  filterable
                  placeholder="請選擇"
                >
                  <el-option
                    v-for="item in logisticsCenterOptions"
                    :key="item.dcCode"
                    :label="item.dcName"
                    :value="item.dcCode"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="公司別">
                <el-select
                  v-model="logisticianForm.company"
                  style="width: 100%"
                  filterable
                  placeholder="請選擇"
                >
                  <el-option
                    v-for="item in companyOptions"
                    :key="item.code"
                    :label="item.name"
                    :value="item.code"
                  />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
          <el-row :gutter="10">
            <el-col :span="12">
              <el-form-item label="物流士編號" prop="logisticsNumber">
                <el-input
                  v-model="logisticianForm.logisticsNumber"
                  placeholder="請輸入"
                />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="物流士" prop="logistician">
                <el-input
                  v-model="logisticianForm.logistician"
                  maxlength="4"
                  placeholder="請輸入"
                />
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12">
          <el-row :gutter="10">
            <el-col :span="12">
              <el-button
                type="primary"
                :disabled="logisticianForm.company == null"
                @click="onCreateClick"
              >
                新增
              </el-button>
            </el-col>
            <el-col :span="12">
              <el-button type="primary" @click="onQueryClick">查詢</el-button>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-form>
    <logistician-result-table
      ref="logisticianResultTable"
      @childMethod="logisticianResultTableMethod"
    />
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import logisticianResultTable from "./components/logisticianResultTable.vue";
import {
  searchLogistician,
  createLogistician
} from "@/api/logisticianAndVehicleManagement";
import { getCompany, getDcs } from "@/api/common";
import store from "@/store";

export default {
  components: { logisticianResultTable },
  data() {
    const logisticsNumberValid = (rule, value, callback) => {
      if (XEUtils.isEmpty(value)) {
        callback(new Error("請輸入物流士編號"));
      } else {
        callback();
      }
    };
    const logisticianValid = (rule, value, callback) => {
      if (XEUtils.isEmpty(value)) {
        callback(new Error("請輸入物流士"));
      } else {
        callback();
      }
    };
    return {
      labelPosition: "top",
      logisticianForm: {
        logisticsCenter: store.getters.dcCode, // 物流中心
        company: null, // 公司別
        logisticsNumber: "", // 物流士編號
        logistician: "" // 物流士
      },
      logisticianRules: {
        logisticsNumber: [
          { validator: logisticsNumberValid, trigger: "change" }
        ],
        logistician: [{ validator: logisticianValid, trigger: "change" }]
      },
      logisticsCenterOptions: [],
      companyOptions: []
    };
  },
  beforeMount() {
    this.getLogisticsCenterOptions();
    this.getCompany();
  },
  methods: {
    // 取得「物流中心」下拉選單資料
    getLogisticsCenterOptions() {
      getDcs()
        .then(res => {
          this.logisticsCenterOptions = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 取得「公司別」下拉選單資料
    getCompany() {
      getCompany(store.getters.dcCode)
        .then(res => {
          this.companyOptions = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 新增
    onCreateClick() {
      this.$refs.logisticianForm.validate(valid => {
        if (valid) {
          const dataObj = {
            dcNo: this.logisticianForm.logisticsCenter,
            userNo: this.logisticianForm.logisticsNumber,
            userName: this.logisticianForm.logistician,
            company:
              this.logisticianForm.company != null
                ? this.logisticianForm.company
                : ""
          };
          createLogistician(dataObj)
            .then(res => {
              if (res.code === 200) {
                this.$message({
                  type: "success",
                  message: "物流士新增成功"
                });
                this.onQueryClick();
              } else if (res.code === 400) {
                this.$message({
                  type: "warning",
                  message: res.msg
                });
              }
            })
            .catch(err => {
              console.log(err);
            });
        }
      });
    },
    // 修改/刪除 Method
    logisticianResultTableMethod() {
      this.onQueryClick();
    },
    // 查詢
    onQueryClick() {
      this.$refs.logisticianResultTable.total = 0;
      this.$refs.logisticianResultTable.showData = [];
      this.$refs.logisticianResultTable.currentPage = 1;
      this.$refs.logisticianForm.clearValidate("logisticsNumber");
      this.$refs.logisticianForm.clearValidate("logistician");
      const dataObj = {
        dcNo: this.logisticianForm.logisticsCenter,
        userNo: this.logisticianForm.logisticsNumber,
        userName: this.logisticianForm.logistician,
        company:
          this.logisticianForm.company != null
            ? this.logisticianForm.company
            : ""
      };
      searchLogistician(
        dataObj.dcNo,
        dataObj.userNo,
        dataObj.userName,
        dataObj.company
      )
        .then(res => {
          this.$refs.logisticianResultTable.getDataSource(res.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style lang="scss">
.logistician {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
</style>
