<template>
  <div class="showDriverPassBarcode-container">
    <el-row type="flex"
            justify="center"
            align="middle">
      <el-col :span="6"
              :xs="24"
              :sm="20"
              :md="16"
              :lg="12"
              :xl="8"
              :offset="6">
        <img src="../../../assets/logo_2.png"
             alt=""
             class="logo-img"
             width="150px">
        <div class="logo-text">全日物流股份有限公司</div>
        <barcode v-bind:value="barcodeValue"
                 :displayValue="false">
        </barcode>
        <div class="showDriverPassBarcode-text">{{userName + ' ' + userNo }}</div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import VueBarcode from "vue-barcode";
export default {
  components: {
    barcode: VueBarcode,
  },
  data() {
    return {
      barcodeValue: "123", //
      userNo: "AGR001", // 物流士編號
      userName: "五股轉運站", // 物流士名稱
    };
  },
  created() {
    this.barcodeValue = this.$route.query.driver;
    this.userNo = this.$route.query.driver;
    this.userName = this.$route.query.driverDisName;
  },
};
</script>

<style lang="scss" scoped>
.showDriverPassBarcode {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 25px;
  }
}
.logo-img {
  margin-left: 32px;
}
.logo-text {
  font-size: 22px;
  font-weight: bold;
}
</style>