<template>
  <div class="user-container">
    <el-button type="primary"
               icon="el-icon-plus"
               size="small"
               @click="openUserDialog(false)"></el-button>
    <el-table v-loading="showLoading"
              element-loading-text="Loading..."
              border
              fit
              highlight-current-row
              :header-cell-style="tableHeaderColor"
              :cell-style="tableCellColor"
              style="width: 100%; margin-top: 10px"
              :data="userTableData">
      <el-table-column align="center"
                       label="編輯"
                       width="100">
        <template slot-scope="scope">
          <el-button type="primary"
                     size="small"
                     icon="el-icon-edit"
                     @click="openUserDialog(true,scope)"></el-button>
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="刪除"
                       width="100">
        <template slot-scope="scope">
          <el-button type="danger"
                     size="small"
                     icon="el-icon-delete"
                     @click="handleDelete(scope)"></el-button>
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="帳號"
                       width="220">
        <template slot-scope="scope">
          {{ scope.row.username }}
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="名稱">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="角色">
        <template slot-scope="scope">
          {{ getRoleName(scope.row) }}
        </template>
      </el-table-column>
      <el-table-column align="center"
                       label="啟用狀態">
        <template slot-scope="scope">
          <i v-if="scope.row.enabled"
             style="color: #67C23A"
             class="el-icon-check"></i>
          <i v-else
             style="color: #F56C6C"
             class="el-icon-close"></i>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination class="table-pagination"
                   background
                   @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[10, 15, 30, 50]"
                   :page-size="pageSize"
                   layout="prev, pager, next, total,sizes"
                   :total="total">
    </el-pagination>
    <user-dialog ref="userDialog"
                 v-on:childMethod="userDataMethod"></user-dialog>
  </div>
</template>

<script>
import {
  getUsers,
  getRoles,
  deleteUser
} from "@/api/user";
import userDialog from './components/userDialog.vue';

export default {
  components: { userDialog },
  data() {
    return {
      showLoading: false,
      currentPage: 1,
      pageSize: 15,
      total: 0,
      resultData: [],
      userTableData: [],
      roleList: []
    }
  },
  mounted() {
    this.getRoles();
    this.getTableDataSource();
  },
  methods: {
    // 修改 table header 樣式
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;";
      }
    },
    // 修改 table 內容樣式
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      return "font-size: 16px;";
    },
    getRoleName(val) {
      let roleIds = val.roleIds != null ? val.roleIds : [];
      if (roleIds.length > 0) {
        let roleList = this.roleList;
        let str = "";
        let selectRoleData = roleList.filter(function (item, index, array) {
          return roleIds.indexOf(item.id) !== -1
        });
        selectRoleData.forEach(function (item, index, array) {
          str += item.name;
          if (index < selectRoleData.length - 1) {
            str += '、';
          }
        });
        return str;
      }
    },
    getRoles() {
      getRoles().then((res) => {
        this.roleList = res.data;
      }).catch((err) => {
        console.log(err);
      })
    },
    async getTableDataSource() {
      this.showLoading = true;
      await getUsers().then((res) => {
        let tableData = res.data;
        this.total = tableData.length;
        this.resultData = tableData;
        this.userTableData = tableData;
        this.showLoading = false;
        this.currentChangePage(this.resultData, this.currentPage);
      }).catch((err) => {
        this.showLoading = false;
        console.log(err);
      })
    },
    // 每頁條數切換
    handleSizeChange(pageSize) {
      this.pageSize = pageSize;
      this.handleCurrentChange(this.currentPage);
    },
    // 頁碼切換
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.currentChangePage(this.resultData, currentPage);
    },
    // 分頁方法
    currentChangePage(tableData, currentPage) {
      let from = (currentPage - 1) * this.pageSize;
      let to = currentPage * this.pageSize;
      this.tempList = [];
      for (; from < to; from++) {
        if (tableData[from]) {
          this.tempList.push(tableData[from]);
        }
      }
      this.userTableData = this.tempList;
    },
    // 增加 & 編輯「用戶」
    openUserDialog(isEdit, scope) {
      let data = scope != null ? scope.row : null;
      this.$refs.userDialog.setValue(true, data, isEdit);
    },
    // 刪除「用戶」
    handleDelete({ $index, row }) {
      this.$confirm("確定刪除用戶?", "Warning", {
        confirmButtonText: "移除",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          await deleteUser(row.id);
          this.getTableDataSource();
          this.$message({
            type: "success",
            message: "使用者已移除",
          });
          this.$message({
            type: 'success',
            message: '删除成功'
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
    },
    userDataMethod() {
      this.getTableDataSource();
    }
  }
}
</script>

<style lang="scss" scoped>
.user {
  &-container {
    padding: 0 20px 20px;
  }
}
</style>