<template>
  <el-dialog :visible.sync="dialogVisible"
             :title="isEdit ? '編輯帳號' : '新增帳號'">
    <el-form :model="userData"
             ref="userForm"
             :rules="userRules"
             label-width="120px"
             label-position="right">
      <el-form-item label="帳號"
                    prop="username">
        <el-input v-model="userData.username"
                  placeholder="請輸入帳號" />
      </el-form-item>
      <el-form-item label="密碼:"
                    prop="password">
        <el-input type="password"
                  v-model="userData.password"
                  autocomplete="off"
                  show-password></el-input>
      </el-form-item>
      <el-form-item label="確認密碼:"
                    prop="confirmPassword">
        <el-input type="password"
                  v-model="userData.confirmPassword"
                  autocomplete="off"
                  show-password></el-input>
      </el-form-item>
      <el-form-item label="名稱"
                    prop="name">
        <el-input v-model="userData.name" />
      </el-form-item>
      <el-form-item label="啟用狀態">
        <el-checkbox v-model="userData.enabled" />
      </el-form-item>
      <el-form-item label="角色"
                    prop="roleIds">
        <el-select style="width:100%"
                   multiple
                   v-model="userData.roleIds"
                   placeholder="請選擇">
          <el-option v-for="item in roleOptions"
                     :key="item.id"
                     :label="item.name"
                     :value="item.id" />
        </el-select>
      </el-form-item>
      <!-- <ValidationProvider rules="email"
                            name="Email"
                            v-slot="{ errors }">
          <el-form-item label="Email:"
                        :error="errors[0]">
            <el-input v-model="userData.email"
                      placeholder="請輸入 Email" />
          </el-form-item>
        </ValidationProvider> -->
      <el-form-item style="text-align: right">
        <el-button type="danger"
                   @click="dialogVisible = false">取消</el-button>
        <el-button type="primary"
                   @click="submitUserData">確定</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import { deepClone } from "@/utils";
import {
  getRoles,
  createUser,
  updateUser
} from "@/api/user";

const defaultUser = {
  id: null,
  username: "",
  name: "",
  enabled: true,
  email: "",
  roleIds: []
};

export default {
  data() {
    //此處即表單發送之前驗證  驗證新密碼與再次確認
    let validateConfirmPassword = (rule, value, callback) => {
      if (value !== this.userData.password) {
        callback(new Error('與密碼不一致!'))
      } else {
        callback()
      }
    }
    return {
      isEdit: "",
      userData: Object.assign({}, defaultUser),
      dialogVisible: false,
      roleOptions: [],
      userRules: {
        username: [
          { required: true, message: '請輸入帳號', trigger: 'blur' },
        ],
        name: [
          { required: true, message: '請輸入名稱', trigger: 'blur' },
        ],
        password: [
          { required: true, message: '請輸入密碼', trigger: 'blur' },
        ],
        roleIds: [
          { required: true, message: '請選擇角色', trigger: 'change' }
        ],
        confirmPassword: [
          {
            required: true,
            message: '請再次輸入密碼',
            trigger: 'blur'
          },
          {
            validator: validateConfirmPassword,
            trigger: 'blur'
          }
        ],
      }
    };

  },
  beforeMount() {
    this.getRoleOptions();
  },
  methods: {
    setValue(visible, data, isEdit) {
      this.isEdit = isEdit;
      this.dialogVisible = visible;
      this.userData = data === null ? Object.assign({}, defaultUser) : deepClone(data);
    },
    submitUserData() {
      this.$refs.userForm.validate((valid) => {
        if (valid) {
          let userData = {
            name: this.userData.name,
            username: this.userData.username,
            password: this.userData.password,
            enabled: this.userData.enabled,
            roleIds: this.userData.roleIds,
          }
          if (this.isEdit) {
            updateUser(this.userData.id, userData).then((res) => {
              this.$message({
                type: "success",
                message: "用戶修改成功",
              });
              this.$emit("childMethod");
            }).catch((err) => {
              console.log(err);
            });
          }
          else {
            createUser(userData).then((res) => {
              this.$message({
                type: "success",
                message: "用戶新增成功",
              });
              this.$emit("childMethod");
            }).catch((err) => {
              console.log(err);
            });
          }
          this.dialogVisible = false;
          this.$refs.userForm.resetFields();
        }
      });
    },
    getRoleOptions() {
      getRoles()
        .then((res) => {
          res.data.forEach((item) => {
            this.roleOptions.push(item);
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  }
}
</script>

<style>
</style>