<template>
  <!-- 系統設定 -> 使用者帳號設定 -->
  <div class="userAccount-container">
    <el-form
      class="userAccount-form"
      label-position="left"
      ref="userForm"
      :model="userAccountForm"
      :label-width="formLabelWidth"
      :rules="userRules"
    >
      <el-form-item :label="$t('pageContent.loginAccount')" prop="username">
        <el-input
          v-model="userAccountForm.username"
          style="font-size: 20px"
          placeholder=""
          disabled
        ></el-input>
      </el-form-item>
      <el-form-item :label="$t('pageContent.userName')" prop="name">
        <el-input
          v-model="userAccountForm.name"
          style="font-size: 20px"
          placeholder=""
        ></el-input>
      </el-form-item>
      <el-form-item :label="$t('pageContent.oldPassword')" prop="password">
        <el-input
          :key="passwordType"
          ref="password"
          v-model="userAccountForm.password"
          :type="passwordType"
          :placeholder="$t('pageContent.oldPassword')"
          name="password"
          tabindex="2"
          auto-complete="on"
        />
        <span class="show-pwd" @click="showPwd('password')">
          <svg-icon
            :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'"
          />
        </span>
      </el-form-item>
      <el-form-item :label="$t('pageContent.newPassword')" prop="newPassword">
        <el-input
          :key="newPasswordType"
          ref="newPassword"
          v-model="userAccountForm.newPassword"
          :type="newPasswordType"
          :placeholder="$t('pageContent.newPassword')"
          name="newPassword"
          tabindex="2"
          auto-complete="on"
        />
        <span class="show-pwd" @click="showPwd('newPassword')">
          <svg-icon
            :icon-class="newPasswordType === 'password' ? 'eye' : 'eye-open'"
          />
        </span>
      </el-form-item>
      <el-form-item :label="$t('pageContent.repassword')" prop="rePassword">
        <el-input
          :key="rePasswordType"
          ref="rePassword"
          v-model="userAccountForm.rePassword"
          :type="rePasswordType"
          :placeholder="$t('pageContent.repassword')"
          name="rePassword"
          tabindex="2"
          auto-complete="on"
        />
        <span class="show-pwd" @click="showPwd('rePassword')">
          <svg-icon
            :icon-class="rePasswordType === 'password' ? 'eye' : 'eye-open'"
          />
        </span>
      </el-form-item>

      <el-form-item class="userAccount-buttonRow">
        <el-button
          type="primary"
          style="margin-left: 10px"
          @click="onUpdateClick"
        >
          {{ $t("button.confirmUpdate") }}
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import store from "@/store";
import { mapGetters } from "vuex";
import { userAccountSetting } from "@/api/user";

export default {
  data() {
    // 新密碼驗證
    let validateNewPassword = (rule, value, callback) => {
      let passwordReg = new RegExp(/^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{6,}$/);
      if (!passwordReg.test(value)) {
        callback(new Error("包含至少1個英文和1個數字且長度至少6碼"));
      } else {
        callback();
      }
    };
    // 新密碼確認驗證
    let validateRePassword = (rule, value, callback) => {
      if (value !== this.userAccountForm.newPassword) {
        callback(new Error("與新密碼不一致!"));
      } else {
        callback();
      }
    };
    return {
      userAccountForm: {
        username: store.getters.name,
        name: store.getters.nickname,
        password: null,
        newPassword: null
      },
      passwordType: "password", // 舊密碼的狀態
      newPasswordType: "password", // 新密碼的狀態
      rePasswordType: "password", // 確認新密碼的狀態
      formLabelWidth: "130px", // 表格label寬度
      userRules: {
        username: [{ required: true, message: "請輸入帳號", trigger: "blur" }],
        name: [{ required: true, message: "請輸入名稱", trigger: "blur" }],
        password: [{ required: true, message: "請輸入密碼", trigger: "blur" }],
        roleIds: [{ required: true, message: "請選擇角色", trigger: "change" }],
        newPassword: [
          { required: true, message: "請輸入新密碼", trigger: "blur" },
          {
            validator: validateNewPassword,
            trigger: "blur"
          }
        ],
        rePassword: [
          {
            required: true,
            message: "請再次輸入密碼",
            trigger: "blur"
          },
          {
            validator: validateRePassword,
            trigger: "blur"
          }
        ]
      }
    };
  },
  beforeMount() {},
  methods: {
    showPwd(type) {
      if (type === "password") {
        if (this.passwordType === "password") {
          this.passwordType = "";
        } else {
          this.passwordType = "password";
        }
        this.$nextTick(() => {
          this.$refs.password.focus();
        });
      } else if (type === "newPassword") {
        if (this.newPasswordType === "password") {
          this.newPasswordType = "";
        } else {
          this.newPasswordType = "password";
        }
        this.$nextTick(() => {
          this.$refs.newPassword.focus();
        });
      } else if (type === "rePassword") {
        if (this.rePasswordType === "password") {
          this.rePasswordType = "";
        } else {
          this.rePasswordType = "password";
        }
        this.$nextTick(() => {
          this.$refs.rePassword.focus();
        });
      }
    },
    // 更新使用者帳號設定
    async onUpdateClick() {
      this.validateForm("userForm").then(() => {
        userAccountSetting(this.userAccountForm)
          .then(res => {
            if (res.code === 200) {
              this.$message({
                type: "success",
                message: this.$t("message.success.accountUpdate")
              });
            }
          })
          .catch(err => {
            console.log(err);
          });
      });
    },
    // 驗證表單
    validateForm: function(form) {
      return new Promise((resolve, reject) => {
        this.$refs[form].validate(valid => {
          console.log(valid);
          valid === true ? resolve() : reject();
        });
      });
    }
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    }
  },
  watch: {
    lang: {
      immediate: true,
      handler: function(newVal) {
        if (newVal === "en") {
          this.formLabelWidth = "190px";
        } else {
          this.formLabelWidth = "130px";
        }
      }
    }
  }
};
</script>

<style lang="scss">
.userAccount {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px 50px;
    width: 550px;
  }
  &-form {
    background-color: #fff;
    padding: 20px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
  &-buttonRow {
    text-align: right;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-radio-button--medium .el-radio-button__inner {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 20px;
}
.show-pwd {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 16px;
  color: #889aa4;
  cursor: pointer;
  user-select: none;
}
</style>
<style scoped>
::v-deep .userAccount-form .el-input__inner {
  text-align: center;
}
</style>
