<template>
  <el-dialog :visible.sync="dialogVisible"
             width="50%"
             :before-close="handleClose"
             class="popup-row"
             append-to-body
             title="異常記錄">
    <div class="exceptionRecord-container">
      <div class="exceptionRecord-deliveryNoteNumber">送貨單號碼 {{ deliveryNoteNumber }}</div>
      <el-row class="exceptionRecord-row"
              v-for="(item, index) in exceptionRecordList"
              :key="index">
        <el-col>
          <span class="exceptionRecord-colTitle">{{ item.description }}</span>
          <span class="exceptionRecord-colDate">{{ dateTime}}</span>
        </el-col>
        <el-col style="margin-right: 30px;margin-top:10px;"
                :span="10"
                v-for="(imgItem, index) in item.imgList"
                :key="index"
                :offset="1">
          <el-card class="exceptionRecord-card"
                   :body-style="{ padding: '0px' }">
            <img :src="imgItem.src"
                 width="100%"
                 alt="">
          </el-card>
        </el-col>
      </el-row>
    </div>
  </el-dialog>
</template>

<script>
import {
  getAbnormalRecordPhotos,
  getAbnormalRecord,
} from "@/api/orderManagement";
export default {
  data() {
    return {
      dialogVisible: false,
      imgDateTime: "",
      deliveryNoteNumber: "",
      dateTime: "",
      exceptionRecordList: [],
    };
  },
  methods: {
    /**
     * visible: dialog open
     * data: abnormalReasons or exceptionRecord
     * deliveryNoteNumber: 送貨單號碼
     * dateTime: 時間
     */
    setValue(visible, data, deliveryNoteNumber, dateTime) {
      if (data) {
        this.deliveryNoteNumber = deliveryNoteNumber;
        this.dateTime = dateTime;
        data.forEach((item) => {
          if (item.hasAbnormalRecordPhotos) {
            getAbnormalRecord(item.id)
              .then((res) => {
                this.exceptionRecordList.push({
                  description: item.description,
                  imgList: this.getImgItem(res.data),
                });
              })
              .catch((err) => {
                console.log(err);
              });
          }
        });
      }
      this.dialogVisible = visible;
    },
    getImgItem(imgData) {
      let imgList = [];
      imgData.forEach((item) => {
        getAbnormalRecordPhotos(item)
          .then((res) => {
            let blob = new Blob([res], { type: "image/png" });
            let imageUrl = (window.URL || window.webkitURL).createObjectURL(
              blob
            );
            let imgItem = {
              id: item,
              src: imageUrl,
            };
            imgList.push(imgItem);
          })
          .catch((err) => {
            console.log(err);
          });
      });
      return imgList;
    },
    handleClose(done) {
      this.exceptionRecordList = [];
      done();
    },
    close() {
      this.exceptionRecordList = [];
      this.dialogVisible = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.exceptionRecord {
  &-deliveryNoteNumber {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  &-colTitle {
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  &-colDate {
    float: right;
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  &-row {
    margin-bottom: 10px;
  }
  &-card {
    margin-bottom: 20px;
  }
}
</style>