<template>
  <!-- 異常管理 -> 區間異常聯絡表 -->
  <div class="intervalAbnormalContactForm-container">
    <el-form class="intervalAbnormalContactForm-form"
             label-position="left"
             ref="intervalAbnormalContactForm"
             :model="intervalAbnormalContactForm"
             label-width="120px">
      <div style="width: 100%">
        <div class="intervalAbnormalContactForm-title">查詢條件</div>
      </div>
      <el-divider></el-divider>
      <el-form-item label="訂單編號">
        <order-number-search v-on:childMethod="intervalAbnormalContactFormOrderNumberSearchMethod"></order-number-search>
      </el-form-item>
      <el-divider></el-divider>
      <el-form-item label="送貨單號">
        <delivery-note-number-search v-on:childMethod="
            intervalAbnormalContactFormDeliveryNoteNumberSearchMethod
          "></delivery-note-number-search>
      </el-form-item>
      <el-divider></el-divider>
      <el-form-item label="發文DC">
        <el-radio-group v-model="intervalAbnormalContactForm.fromDc"
                        size="medium">
          <el-radio-button label="null">全部</el-radio-button>
          <el-radio-button :label="item.dcCode"
                           :key="item.dcCode"
                           v-for="item in fromDcData">{{ item.dcName }}</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="受文DC">
        <el-radio-group v-model="intervalAbnormalContactForm.toDc"
                        size="medium">
          <el-radio-button label="null">全部</el-radio-button>
          <el-radio-button :label="item.dcCode"
                           :key="item.dcCode"
                           v-for="item in toDcData">{{ item.dcName }}</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="車號/板架號">
        <el-input v-model="intervalAbnormalContactForm.carNo"
                  style="width: 300px; font-size: 20px"
                  placeholder="請輸入"></el-input>
      </el-form-item>
      <el-form-item label="委運客戶">
        <el-select style="width: 300px"
                   v-model="intervalAbnormalContactForm.goodsOwner"
                   filterable
                   placeholder="請選擇">
          <el-option v-for="item in goodsOwnerData"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="到運地點">
        <el-input v-model="intervalAbnormalContactForm.destCompName"
                  style="width: 300px; font-size: 20px"
                  placeholder="請輸入"></el-input>
      </el-form-item>
      <el-form-item label="處理狀態">
        <el-radio-group v-model="intervalAbnormalContactForm.status"
                        size="medium">
          <el-radio-button label="null">全部</el-radio-button>
          <el-radio-button label="1">已完成</el-radio-button>
          <el-radio-button label="0">未完成</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="發文日期">
        <el-date-picker style="font-size: 20px"
                        v-model="intervalAbnormalContactForm.dateRange"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="開始日期"
                        end-placeholder="結束日期">
        </el-date-picker>
        <el-button type="primary"
                   icon="el-icon-search"
                   style="margin-left: 10px"
                   @click="onQueryClick(false)">查詢</el-button>
      </el-form-item>
    </el-form>
    <interval-abnormal-contact-form-result-table ref="intervalAbnormalContactFormResultTable"
                                                 v-on:childMethod="intervalAbnormalContactFormResultTableMethod">
    </interval-abnormal-contact-form-result-table>
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import {
  intervalAbnormalContactFormOrderNumberSearch,
  intervalAbnormalContactFormDeliveryNoteNumberSearch,
  intervalAbnormalContactFormSearch,
} from "@/api/exceptionManagement";
import { getDcs, getCustomers } from "@/api/common";
import OrderNumberSearch from "@/components/OrderNumberSearch";
import DeliveryNoteNumberSearch from "@/components/DeliveryNoteNumberSearch";
import IntervalAbnormalContactFormResultTable from "../intervalAbnormalContactForm/components/intervalAbnormalContactFormResultTable";
import store from "@/store";

export default {
  components: {
    OrderNumberSearch,
    DeliveryNoteNumberSearch,
    IntervalAbnormalContactFormResultTable,
  },
  data() {
    return {
      tagbool: false, // 判斷是否要刷新「查詢結果」
      currentValue: null, // 處理狀態為「全部」時，關閉 Dialog 時記錄所用的分頁 Value
      searchTag: 0, // 查詢 tag
      intervalAbnormalContactFormOrderNumberSearchData: "", // 「訂單編號」查詢參數資料
      intervalAbnormalContactFormDeliveryNoteNumberSearchData: "", // 「送貨單號碼」查詢參數資料
      intervalAbnormalContactForm: {
        fromDc: null, // 發文 DC
        toDc: store.getters.dcCode, // 受文 DC
        carNo: "", //車號/板架號
        goodsOwner: "", // 委運客戶
        destCompName: "", // 到運地點
        status: null, // 處理狀態
        dateRange: [new Date(), new Date()], // 日期範圍 [new Date(2020, 9, 10), new Date(2020, 11, 20)]]

        // fromDc: null, // 發文 DC
        // toDc: null, // 受文 DC
        // carNo: "", //車號/板架號
        // goodsOwner: "", // 委運客戶
        // destCompName: "", // 到運地點
        // status: null, // 處理狀態
        // dateRange: [new Date(2021, 4, 1), new Date(2021, 4, 20)], // 日期範圍 [new Date(2020, 9, 10), new Date(2020, 11, 20)]
      },
      goodsOwnerData: [
        {
          value: null,
          label: "全部",
        },
      ], // 委運客戶列表
      fromDcData: [], // 發文 DC 列表
      toDcData: [], // 受文 DC 列表
    };
  },
  beforeMount() {
    this.getDcData();
    this.getGoodsOwnerData();
  },
  methods: {
    // 「訂單編號」查詢
    intervalAbnormalContactFormOrderNumberSearchMethod(data) {
      this.searchTag = 0;
      this.intervalAbnormalContactFormOrderNumberSearchData = data.orderNumber;
      this.$refs.intervalAbnormalContactFormResultTable.total = 0;
      this.$refs.intervalAbnormalContactFormResultTable.showData = [];
      if (!data.isEmit) {
        this.currentValue = null;
      }
      this.$refs.intervalAbnormalContactFormResultTable.showLoading = true;
      intervalAbnormalContactFormOrderNumberSearch(data.orderNumber)
        .then((res) => {
          this.$refs.intervalAbnormalContactFormResultTable.selectAll();
          this.$refs.intervalAbnormalContactFormResultTable.showLoading = false;
          this.$refs.intervalAbnormalContactFormResultTable.getDataSource(
            res.data,
            this.currentValue
          );
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.intervalAbnormalContactFormResultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    // 「送貨單號碼」查詢
    intervalAbnormalContactFormDeliveryNoteNumberSearchMethod(data) {
      this.searchTag = 1;
      this.intervalAbnormalContactFormDeliveryNoteNumberSearchData =
        data.deliveryNoteNumber;
      this.$refs.intervalAbnormalContactFormResultTable.total = 0;
      this.$refs.intervalAbnormalContactFormResultTable.showData = [];
      if (!data.isEmit) {
        this.currentValue = null;
      }
      this.$refs.intervalAbnormalContactFormResultTable.showLoading = true;
      intervalAbnormalContactFormDeliveryNoteNumberSearch(
        data.deliveryNoteNumber
      )
        .then((res) => {
          this.$refs.intervalAbnormalContactFormResultTable.selectAll();
          this.$refs.intervalAbnormalContactFormResultTable.showLoading = false;
          this.$refs.intervalAbnormalContactFormResultTable.getDataSource(
            res.data,
            this.currentValue
          );
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.intervalAbnormalContactFormResultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    onQueryClick(isEmit) {
      this.searchTag = 2;
      this.$refs.intervalAbnormalContactFormResultTable.total = 0;
      this.$refs.intervalAbnormalContactFormResultTable.showData = [];
      if (!isEmit) {
        this.currentValue = null;
      }
      let dateRange = this.intervalAbnormalContactForm.dateRange;
      let dataFrom = {
        fromDc:
          this.intervalAbnormalContactForm.fromDc === "null"
            ? null
            : this.intervalAbnormalContactForm.fromDc,
        toDc:
          this.intervalAbnormalContactForm.toDc === "null"
            ? null
            : this.intervalAbnormalContactForm.toDc,
        carNo: this.intervalAbnormalContactForm.carNo,
        goodsOwner: this.intervalAbnormalContactForm.goodsOwner,
        destCompName: this.intervalAbnormalContactForm.destCompName,
        status:
          this.intervalAbnormalContactForm.status === "null"
            ? null
            : this.intervalAbnormalContactForm.status,
        startDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[0], "yyyy/MM/dd")
            : null, // 開始日期
        endDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[1], "yyyy/MM/dd")
            : null, // 結束日期
      };
      this.$refs.intervalAbnormalContactFormResultTable.showLoading = true;
      intervalAbnormalContactFormSearch(dataFrom)
        .then((res) => {
          this.$refs.intervalAbnormalContactFormResultTable.selectAll();
          this.$refs.intervalAbnormalContactFormResultTable.showLoading = false;
          this.$refs.intervalAbnormalContactFormResultTable.getDataSource(
            res.data,
            this.currentValue
          );
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.intervalAbnormalContactFormResultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    // 查詢結果 emit
    intervalAbnormalContactFormResultTableMethod(data) {
      if (
        this.intervalAbnormalContactForm.status === null ||
        this.intervalAbnormalContactForm.status === "null"
      ) {
        this.currentValue = data.currentPage;
        this.tagbool = true;
      } else {
        this.currentValue = null;
        this.tagbool = false;
      }

      switch (this.searchTag) {
        case 0:
          this.intervalAbnormalContactFormOrderNumberSearchMethod({
            orderNumber: this.intervalAbnormalContactFormOrderNumberSearchData,
            isEmit: true,
          });
          break;
        case 1:
          this.intervalAbnormalContactFormDeliveryNoteNumberSearchMethod({
            deliveryNoteNumber: this
              .intervalAbnormalContactFormDeliveryNoteNumberSearchData,
            isEmit: true,
          });
          break;
        case 2:
          if (this.tagbool) {
            this.onQueryClick(true);
          }
          break;
      }
    },
    // 取得 DC 列表
    getDcData() {
      getDcs()
        .then((res) => {
          this.fromDcData = res.data;
          this.toDcData = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getGoodsOwnerData() {
      getCustomers()
        .then((res) => {
          res.data.forEach((item) => {
            this.goodsOwnerData.push(item);
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss">
.intervalAbnormalContactForm {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-radio-button--medium .el-radio-button__inner {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 20px;
}
</style>
