<template>
  <div class="dashboard-container">
    <div class="dashboard-text">{{ $t("dashboard.name") }} : {{ name }}</div>
    <!-- <div class="dashboard-text">
      {{ $t("dashboard.roles") }} :
      <span v-for="role in roles" :key="role">{{ role }} </span>
    </div>
    <br />
    <el-tag v-permission="['admin']">僅有 admin 權限</el-tag>
    <br />
    <el-tag v-permission="['editor']">僅有 editor 權限</el-tag>
    <br />
    <el-tag v-permission="['blue']">僅有 blue 權限</el-tag>
    <br />
    <el-tag v-permission="['ku']">僅有 ku 權限</el-tag>
    <br />
    <el-tag v-permission="['editor', 'blue']">同時擁有 editor、blue</el-tag> -->
    <br />
  </div>
</template>

<script>
import permission from "@/directive/permission/index.js"; // 權限判斷指令
import { mapGetters } from "vuex";

export default {
  directives: { permission },
  name: "Dashboard",
  computed: {
    ...mapGetters(["name", "roles"]),
  },
};
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
