<template>
  <!-- 訂單編號 -->
  <div>
    <el-input v-model="orderNumber"
              :style="inputStyle"
              placeholder="請輸入"></el-input>
    <el-button type="primary"
               icon="el-icon-search"
               :style="buttonStyle"
               @click="onQueryClick">查詢</el-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputStyle: "width: 550px;",
      buttonStyle: "margin-left: 10px",
      orderNumber: "", // 訂單編號
    };
  },
  created() {
    this.resSize();
  },
  mounted() {
    window.onresize = () => {
      return (() => {
        this.resSize();
      })();
    };
  },
  methods: {
    resSize() {
      let windowSize = document.body.clientWidth;
      if (windowSize < 1150) {
        this.inputStyle = "width: 100%;";
        this.buttonStyle = "margin-left: 0px";
      } else {
        this.inputStyle = "width: 550px;";
        this.buttonStyle = "margin-left: 10px";
      }
    },
    onQueryClick() {
      if (this.orderNumber) {
        this.$emit("childMethod", {
          orderNumber: this.orderNumber,
          isEmit: false,
        });
      } else {
        this.$message({
          message: this.$t("message.waring.orderNumber"),
          type: "warning",
        });
      }
    },
  },
};
</script>

<style></style>
