<template>
  <el-dialog :visible.sync="dialogVisible"
             width="50%"
             :before-close="handleClose"
             class="popup-row"
             title="匯出區間彙總報表">
    <el-form :model="exportReportForm"
             ref="refExportReportForm"
             label-width="150px"
             label-position="right">
      <el-form-item label="匯出 DC">
        <el-radio-group v-model="exportReportForm.dcNo"
                        size="medium">
          <el-radio-button :label="item.dcCode"
                           :key="item.dcCode"
                           v-for="item in dcData">{{ item.dcName }}</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="發文日期">
        <el-date-picker style="font-size: 20px"
                        v-model="exportReportForm.dateRange"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="開始日期"
                        end-placeholder="結束日期">
        </el-date-picker>
        <el-button type="primary"
                   style="margin-left: 10px"
                   :disabled=" exportReportForm.dcNo === ''"
                   @click="onExportClick">匯出</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import XEUtils from "xe-utils";
import { exportReportProcessingRecords } from "@/api/exceptionManagement";
import { getDcs } from "@/api/common";
export default {
  data() {
    return {
      dialogVisible: false,
      exportReportForm: {
        dcNo: "", // 匯出 DC
        dateRange: [
          XEUtils.getWhatMonth(new Date(), 0, "first"),
          XEUtils.getWhatMonth(new Date(), 0, "last"),
        ],
      },
      dcData: [], // 發文 DC 列表
    };
  },
  beforeMount() {
    this.getDcData();
  },
  methods: {
    setValue(visible) {
      this.dialogVisible = visible;
    },
    onExportClick() {
      let dateRange = this.exportReportForm.dateRange;
      let dataObj = {
        dcNo: this.exportReportForm.dcNo,
        startDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[0], "yyyy/MM/dd")
            : null, // 開始日期
        endDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[1], "yyyy/MM/dd")
            : null, // 結束日期
      };
      let fileName = dataObj.startDate + "-" + dataObj.endDate + ".xls";
      exportReportProcessingRecords(
        dataObj.dcNo,
        dataObj.startDate,
        dataObj.endDate
      )
        .then((res) => {
          if (res.code == 400) {
            return;
          } else {
            const url = window.URL.createObjectURL(new Blob([res]));
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", fileName);
            document.body.appendChild(link);
            link.click();
          }
        })
        .catch((err) => {
          console.log(err);
          this.$message({
            message: err.msg,
            type: "error",
          });
        });
    },
    // 取得 DC 列表
    getDcData() {
      getDcs()
        .then((res) => {
          this.dcData = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleClose(done) {
      done();
      this.initFromData();
      this.dialogVisible = false;
    },
    close() {
      this.initFromData();
      this.dialogVisible = false;
    },
    initFromData() {
      this.exportReportForm.dcNo = "";
      this.exportReportForm.dateRange = [
        XEUtils.getWhatMonth(new Date(), 0, "first"),
        XEUtils.getWhatMonth(new Date(), 0, "last"),
      ];
    },
  },
};
</script>

<style>
</style>