<template>
  <div class="intervalAbnormalContactFormResultTable-container">
    <span class="intervalAbnormalContactFormResultTable-title"> 查詢結果 </span>
    <span style="float: right;">
      <el-button @click="handleExportPdf">匯出區間異常聯絡表</el-button>
      <el-button @click="handleExportReport">匯出區間彙總報表</el-button>
    </span>
    <el-divider></el-divider>
    <el-table
      v-loading="showLoading"
      element-loading-text="Loading..."
      border
      fit
      highlight-current-row
      max-height="750"
      ref="resultTable"
      @selection-change="handleSelectionChange"
      :row-key="handleReserve"
      :header-cell-style="tableHeaderColor"
      :cell-style="tableCellColor"
      :data="showData"
    >
      <el-table-column type="selection" reserve-selection :min-width="35">
      </el-table-column>
      <el-table-column
        align="center"
        prop="abnormalReasons"
        label="異常照片"
        :min-width="110"
      >
        <template slot-scope="scope">
          <el-button
            type="primary"
            :disabled="!scope.row.hasAbnormalRecordPhotos"
            class="intervalAbnormalContactFormResultTable-textSize"
            @click="
              handleView(
                scope.row.abnormalReasons,
                scope.row.workNo,
                scope.row.createTime
              )
            "
            >檢視</el-button
          >
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="id"
        label="處理記錄"
        :min-width="110"
      >
        <template slot-scope="scope">
          <span v-if="scope.row.proccessingStatus === '-'">
            <el-button
              type="primary"
              icon="el-icon-edit"
              class="intervalAbnormalContactFormResultTable-textSize"
              @click="handleEdit(scope.row)"
            ></el-button>
          </span>
          <span v-else>
            <el-button
              type="records"
              icon="el-icon-edit"
              class="intervalAbnormalContactFormResultTable-textSize"
              @click="handleEdit(scope.row)"
            ></el-button>
          </span>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="proccessingStatus"
        label="處理狀態"
        :min-width="120"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="orderStatus"
        label="訂單狀態"
        :min-width="150"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="orderType"
        label="訂單模式"
        :min-width="100"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="fromDc"
        label="發文DC"
        :min-width="100"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="toDc"
        label="受文DC"
        :min-width="100"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="abnormalNo"
        label="異常單號"
        :min-width="170"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="orderNo"
        label="訂單編號"
        :min-width="170"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="workNo"
        label="送貨單號"
        :min-width="170"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="goodsOwnerName"
        label="委運客戶"
        :min-width="170"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="destCompName"
        label="到運地點"
        :min-width="170"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="carNo"
        label="車號/板架號"
        :min-width="150"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="reporter238"
        label="裝櫃倉管"
        :min-width="100"
      >
      </el-table-column>
      <el-table-column
        header-align="center"
        align="left"
        prop="abnormalReasons"
        label="異常記錄"
        :min-width="400"
      >
        <template slot-scope="scope">
          <ul v-if="scope.row.abnormalReasons">
            <li v-for="item in scope.row.abnormalReasons" :key="item.id">
              <div>
                {{ item.description }}
              </div>
            </li>
          </ul>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="createTime"
        label="發文時間"
        :min-width="200"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="creator"
        label="發文者"
        :min-width="150"
      >
      </el-table-column>
    </el-table>
    <!-- <el-pagination class="table-pagination"
                   background
                   @size-change="handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page.sync="currentPage"
                   :page-sizes="[5, 10, 15, 30]"
                   :page-size="pageSize"
                   layout="prev, pager, next, total,sizes"
                   :total="total">
    </el-pagination> -->
    <el-pagination
      class="table-pagination"
      background
      layout="total"
      :total="total"
    >
    </el-pagination>
    <processing-records-dialog
      ref="refProcessingRecordsDialog"
      v-on:childMethod="processingRecordsDialogMethod"
    >
    </processing-records-dialog>
    <export-report-dialog ref="refExportReportDialog"></export-report-dialog>
    <exception-record-dialog
      ref="exceptionRecordDialog"
    ></exception-record-dialog>
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import processingRecordsDialog from "./processingRecordsDialog.vue";
import ExportReportDialog from "./exportReportDialog.vue";
import { exportPdfProcessingRecords } from "@/api/exceptionManagement";
import ExceptionRecordDialog from "@/components/ExceptionRecordDialog/index";

export default {
  components: {
    processingRecordsDialog,
    ExportReportDialog,
    ExceptionRecordDialog
  },
  data() {
    return {
      showLoading: false,
      // currentPage: 1,
      // pageSize: 5,
      total: 0,
      //resultData: [],
      showData: [],
      selectDatas: []
    };
  },
  methods: {
    // 修改table header的背景色
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;";
      }
    },
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      return "font-size: 16px;";
    },
    getDataSource(data, currentValue) {
      this.currentPage =
        currentValue !== null ? currentValue : this.currentPage;
      this.total = data.length;
      //this.resultData = data;
      this.showData = data;
      //this.currentChangePage(this.resultData, this.currentPage);
    },
    // 「匯出區間異常聯絡表」按鈕
    handleExportPdf() {
      let selectIds = [];
      this.selectDatas.forEach(item => {
        selectIds.push(item.id);
      });
      if (selectIds.length !== 0) {
        let fileName =
          XEUtils.toDateString(new Date(), "yyyy/MM/dd HH:mm:ss") + ".pdf";
        exportPdfProcessingRecords(selectIds)
          .then(res => {
            if (res.code == 400) {
              return;
            } else {
              const url = window.URL.createObjectURL(new Blob([res]));
              const link = document.createElement("a");
              link.href = url;
              link.setAttribute("download", fileName);
              document.body.appendChild(link);
              link.click();
            }
          })
          .catch(err => {
            console.log(err);
            this.$message({
              message: err.msg,
              type: "error"
            });
          });
      } else {
        this.$message({
          message: this.$t("message.waring.exportPdf"),
          type: "warning"
        });
      }
    },
    // 「匯出區間彙總報表」按鈕
    handleExportReport() {
      this.$refs.refExportReportDialog.setValue(true);
    },
    // 「檢視」按鈕
    handleView(rowData, deliveryNoteNumber, dateTime) {
      this.$refs.exceptionRecordDialog.setValue(
        true,
        rowData,
        deliveryNoteNumber,
        dateTime
      );
    },
    // 「處理記錄」按鈕
    handleEdit(rowData) {
      this.$refs.refProcessingRecordsDialog.setValue(true, rowData);
    },
    handleReserve(row) {
      return row.id;
    },
    handleSelectionChange(val) {
      this.selectDatas = val;
    },
    selectAll() {
      this.selectDatas = [];
      this.$refs.resultTable.clearSelection();
      this.$refs.resultTable.toggleAllSelection();
    },
    // // 每頁條數切換
    // handleSizeChange(pageSize) {
    //   this.pageSize = pageSize;
    //   this.handleCurrentChange(this.currentPage);
    // },
    // // 頁碼切換
    // handleCurrentChange(currentPage) {
    //   this.currentPage = currentPage;
    //   this.currentChangePage(this.resultData, currentPage);
    // },
    // // 分頁方法
    // currentChangePage(tableData, currentPage) {
    //   let from = (currentPage - 1) * this.pageSize;
    //   let to = currentPage * this.pageSize;
    //   this.tempList = [];
    //   for (; from < to; from++) {
    //     if (tableData[from]) {
    //       this.tempList.push(tableData[from]);
    //     }
    //   }
    //   this.showData = this.tempList;
    // },
    // 關閉「處理記錄」Dialog emit
    processingRecordsDialogMethod() {
      this.$emit("childMethod", { currentPage: this.currentPage });
    }
  }
};
</script>

<style lang="scss">
.intervalAbnormalContactFormResultTable {
  &-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
  &-textSize {
    font-size: 16px;
  }
}
.el-button--records.is-active,
.el-button--records:active {
  background: #00a5ba;
  border-color: #00a5ba;
  color: #fff;
}

.el-button--records:focus,
.el-button--records:hover {
  background: #48d1cc;
  border-color: #48d1cc;
  color: #fff;
}

.el-button--records {
  color: #fff;
  background-color: #00a5ba;
  border-color: #00a5ba;
}
</style>
