<template>
  <el-dialog :visible.sync="dialogVisible"
             width="60%"
             :before-close="handleClose"
             class="popup-row"
             title="處理結果">
    <el-form :model="processingRecordsForm"
             ref="refProcessingRecordsForm"
             label-width="150px"
             label-position="right">
      <el-row>
        <el-col :span="8">
          <el-form-item label="異常單號"
                        prop="abnormalNo">
            <el-input v-model="processingRecordsForm.abnormalNo"
                      style="width:100%"
                      disabled />
          </el-form-item>
        </el-col>
        <el-col :offset="8"
                :span="8">
          <el-form-item label="處理人員"
                        prop="editor">
            <el-input v-model="processingRecordsForm.editor"
                      disabled />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="受文DC"
                        prop="toDc">
            <el-select v-model="processingRecordsForm.toDc"
                       :disabled="editDisabled"
                       style="width:100%"
                       filterable
                       placeholder="請選擇">
              <el-option v-for="item in toDcData"
                         :key="item.dcCode"
                         :label="item.dcName"
                         :value="item.dcCode">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="車號/板架號"
                        prop="carNo">
            <el-input v-model="processingRecordsForm.carNo"
                      :disabled="editDisabled" />

          </el-form-item>
        </el-col>
        <el-col :span="2">
          <el-button type="primary"
                     style="margin-left:10px;font-size:14px;"
                     @click="onEdit">{{ editDisabled ? '修改' : '完成' }}</el-button>
        </el-col>
        <el-col :offset="4"
                :span="2">
          <el-button type="primary"
                     style="float:right;font-size:14px;"
                     :disabled="buttonDisabled"
                     @click="onClose">結案</el-button>
        </el-col>
      </el-row>
      <el-form-item label=""
                    prop="log">
        <el-input v-model="processingRecordsForm.log"
                  type="textarea"
                  :rows="3"
                  maxlength="100"
                  placeholder="輸入上限100字元">
        </el-input>

      </el-form-item>
      <el-col :offset="22"
              :span="2">
        <el-button type="primary"
                   style="float:right;font-size:14px;"
                   @click="onSave">儲存</el-button>
      </el-col>
    </el-form>
    <div class="processingRecordsDialog-title">處理記錄：</div>
    <el-table v-loading="showLoading"
              element-loading-text="Loading..."
              border
              fit
              highlight-current-row
              :header-cell-style="tableHeaderColor"
              :cell-style="tableCellColor"
              :data="showData">
      <el-table-column align="center"
                       prop="createTime"
                       label="時間"
                       :min-width="150">
      </el-table-column>
      <el-table-column header-align="center"
                       align="left"
                       prop="log"
                       label="記錄"
                       :min-width="300">
      </el-table-column>
      <el-table-column align="center"
                       prop="editor"
                       label="處理人員"
                       :min-width="100">
      </el-table-column>
    </el-table>
  </el-dialog>
</template>

<script>
import {
  getProcessingRecords,
  createProcessingRecordsById,
  closeProcessingRecordsById,
  editProcessingRecordsById,
} from "@/api/exceptionManagement";
import { getDcs } from "@/api/common";
import store from "@/store";

export default {
  data() {
    return {
      dialogVisible: false,
      showLoading: false,
      buttonDisabled: false,
      editDisabled: true,
      processingRecordsForm: {
        id: "", //  記錄 ID
        abnormalNo: "", // 異常單號
        editor: "", // 處理人員
        toDc: "", // 受文DC
        carNo: "", // 車號/板架號
        log: "", // 記錄訊息
      },
      showData: [], // 處理記錄表格
      toDcData: [], // 受文 DC 列表
    };
  },
  beforeMount() {
    this.getDcData();
  },
  methods: {
    setValue(visible, data) {
      this.buttonDisabled = data.proccessingStatus === "結案";
      this.processingRecordsForm.id = data.id;
      this.getDataSource();
      this.dialogVisible = visible;
    },
    getDataSource() {
      getProcessingRecords(this.processingRecordsForm.id)
        .then((res) => {
          this.processingRecordsForm.editor = store.getters.nickname;
          this.processingRecordsForm.toDc = res.data.toDc;
          this.processingRecordsForm.abnormalNo = res.data.abnormalNo;
          this.processingRecordsForm.carNo = res.data.carNo;
          this.showData = res.data.logs;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // 修改table header的背景色
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;";
      }
    },
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      return "font-size: 16px;";
    },
    // 「修改」按鈕
    onEdit() {
      if (!this.editDisabled) {
        let dataObj = {
          toDc: this.processingRecordsForm.toDc,
          carNo: this.processingRecordsForm.carNo,
          editor: this.processingRecordsForm.editor,
        };
        editProcessingRecordsById(this.processingRecordsForm.id, dataObj)
          .then((res) => {
            this.getDataSource();
            this.$message({
              message: res.msg,
              type: "success",
            });
          })
          .catch((err) => {
            console.log(err);
          });
        this.editDisabled = true;
      } else {
        this.editDisabled = false;
      }
    },
    // 「結案」按鈕
    onClose() {
      let dataObj = {
        editor: this.processingRecordsForm.editor,
      };
      closeProcessingRecordsById(this.processingRecordsForm.id, dataObj)
        .then((res) => {
          this.processingRecordsForm.log = "";
          this.$message({
            message: res.msg,
            type: "success",
          });
        })
        .catch((err) => {
          console.log(err);
        });
      this.buttonDisabled = false;
      this.editDisabled = true;
      //this.$emit("childMethod");
      this.dialogVisible = false;
    },
    // 「儲存」按鈕
    onSave() {
      let dataObj = {
        log: this.processingRecordsForm.log,
        editor: this.processingRecordsForm.editor,
      };
      createProcessingRecordsById(this.processingRecordsForm.id, dataObj)
        .then((res) => {
          this.processingRecordsForm.log = "";
          this.getDataSource();
          this.$message({
            message: res.msg,
            type: "success",
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleClose(done) {
      this.processingRecordsForm.log = "";
      this.buttonDisabled = false;
      this.editDisabled = true;
      done();
      this.dialogVisible = false;
    },
    close() {
      this.processingRecordsForm.log = "";
      this.buttonDisabled = false;
      this.editDisabled = true;
      this.dialogVisible = false;
    },
    // 取得 DC 列表
    getDcData() {
      getDcs()
        .then((res) => {
          this.toDcData = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss">
.processingRecordsDialog {
  &-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
  }
}
</style>
