<template>
  <!-- 獨立頁面 -> 物流士列印行車日誌 -->
  <div class="printLogbook-container">
    <el-row class="printLogbook-row"
            type="flex"
            justify="center">
      <el-col :xs="24"
              :sm="20"
              :md="16"
              :lg="12"
              :xl="8">
        <el-form ref="printLogbookForm"
                 :model="printLogbookForm"
                 :label-position="labelPosition"
                 label-width="200px">
          <el-form-item label="物流中心">
            <el-select style="width: 200px"
                       v-model="printLogbookForm.areaRadio"
                       filterable
                       placeholder="請選擇">
              <el-option v-for="item in areaOptions"
                         :key="item.dcCode"
                         :label="item.dcName"
                         :value="item.dcCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="物流士員編">
            <el-input style="width: 200px"
                      v-model="printLogbookForm.queryNumber"></el-input>
            <el-button class="printLogbook-button"
                       type="primary"
                       @click="onQueryClick">查詢</el-button>
          </el-form-item>
        </el-form>
        <span>最新5張行車日誌</span>
        <el-divider></el-divider>
        <el-table :data="resultData"
                  element-loading-text="Loading"
                  border
                  fit
                  highlight-current-row
                  :header-cell-style="tableHeaderColor">
          <el-table-column align="center"
                           prop="id"
                           label=""
                           width="100">
            <template slot-scope="scope">
              <el-button size="mini"
                         icon="el-icon-search"
                         @click="handleLogbookPrint(scope.$index, scope.row)"></el-button>
            </template>
          </el-table-column>
          <el-table-column align="center"
                           prop="deliveryDate"
                           label="配送日期">
          </el-table-column>
          <el-table-column align="center"
                           prop="counts"
                           label="訂單數">
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <logbook-dialog ref="logbookDialog"></logbook-dialog>
  </div>
</template>

<script>
import { getDcs } from "@/api/common";
import {
  driversDailyLogSearch,
  getDriversDailyLogPdf,
} from "@/api/printLogbook";
import logbookDialog from "./components/logbookDialog.vue";
export default {
  components: { logbookDialog },
  data() {
    return {
      labelPosition: "right",
      deliveryNoteNumber: "F202010140001",
      printLogbookForm: {
        queryNumber: "",
        areaRadio: "",
      },
      resultData: [],
      areaOptions: [],
    };
  },
  beforeMount() {
    this.getAreaOptions();
  },
  methods: {
    // 修改table header的背景色
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #386fa5;color: #fff;font-weight: 500;";
      }
    },
    onQueryClick() {
      this.resultData = [];
      driversDailyLogSearch(
        this.printLogbookForm.areaRadio,
        this.printLogbookForm.queryNumber
      )
        .then((res) => {
          this.resultData = res.data;
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    onPrintLogbookClick() {},
    handleLogbookPrint(idx, rowData) {
      getDriversDailyLogPdf(
        this.printLogbookForm.areaRadio,
        this.printLogbookForm.queryNumber,
        rowData.carNo,
        rowData.deliveryDate
      )
        .then((data) => {
          this.pdfData = data;
          let blob = new Blob([this.pdfData], { type: "application/pdf" });
          window.open(window.URL.createObjectURL(blob));
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // handleLogbookDialog(idx, rowData) {
    //   let data = {
    //     area: this.printLogbookForm.areaRadio,
    //     queryNumber: this.printLogbookForm.queryNumber,
    //     carNo: rowData.carNo,
    //     deliveryDate: rowData.deliveryDate,
    //   };
    //   this.$refs.logbookDialog.setValue(true, data);
    // },
    getAreaOptions() {
      getDcs()
        .then((res) => {
          this.areaOptions = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.printLogbook {
  &-container {
    margin: 30px;
  }
  &-center {
    margin-bottom: 20px;
  }
  &-button {
    margin-left: 20px;
  }
}
</style>