<template>
  <!-- 訂單管理 -> 訂單查詢 [客戶] -->
  <div class="orderTracking-container">
    <el-form class="orderTracking-form"
             label-position="left"
             ref="orderTrackingForm"
             :model="orderTrackingForm"
             label-width="120px">
      <div style="width: 100%">
        <div class="orderTracking-title">查詢條件</div>
      </div>
      <el-divider></el-divider>
      <el-form-item label="訂單編號">
        <order-number-search v-on:childMethod="customerOrderNumberSearchMethod"></order-number-search>
      </el-form-item>
      <el-divider></el-divider>
      <el-form-item label="送貨單號">
        <delivery-note-number-search v-on:childMethod="customerDeliveryNoteNumberSearchMethod"></delivery-note-number-search>
      </el-form-item>
      <el-divider></el-divider>
      <el-form-item label="委運客戶">
        <el-select style="width: 300px"
                   v-model="orderTrackingForm.entrustCustomer"
                   filterable
                   placeholder="請選擇">
          <el-option v-for="item in customerOptions"
                     :key="item.value"
                     :label="item.label"
                     :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="到運店家">
        <el-input v-model="orderTrackingForm.arrivalsStore"
                  style="width: 300px; font-size: 20px"
                  placeholder="請輸入"></el-input>
      </el-form-item>
      <el-form-item label="訂單狀態">
        <el-radio-group v-model="orderTrackingForm.statusRadio"
                        size="medium">
          <el-radio-button label="0">全部</el-radio-button>
          <el-radio-button label="1">集貨完成</el-radio-button>
          <el-radio-button label="2">轉運中</el-radio-button>
          <el-radio-button label="3">配送中</el-radio-button>
          <el-radio-button label="4">配送回報</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-if="orderTrackingForm.statusRadio == 4">
        <el-radio-group v-model="orderTrackingForm.signStatus"
                        size="medium">
          <el-radio-button label="">全部</el-radio-button>
          <el-radio-button label="0">配送完成</el-radio-button>
          <el-radio-button label="1">無人收件</el-radio-button>
          <el-radio-button label="2">改單簽收</el-radio-button>
          <el-radio-button label="3">全部拒收</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-radio-group v-model="orderTrackingForm.dateType"
                        size="medium">
          <el-radio-button label="1">訂單日期</el-radio-button>
          <el-radio-button label="2">集貨日期</el-radio-button>
          <el-radio-button label="3">配送日期</el-radio-button>
        </el-radio-group>
        <el-date-picker style="margin-left: 50px; font-size: 20px"
                        v-model="orderTrackingForm.dateRange"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="開始日期"
                        end-placeholder="結束日期">
        </el-date-picker>
        <el-button type="primary"
                   icon="el-icon-search"
                   style="margin-left: 10px"
                   @click="onQueryClick">查詢</el-button>
      </el-form-item>
    </el-form>
    <result-table ref="resultTable"
                  :is-customer-service="false"></result-table>
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import store from "@/store";
import {
  customerOrderNumberSearch,
  customerDeliveryNoteNumberSearch,
  customerOrdersSearch,
  getCustomerCommission,
} from "@/api/orderManagement";
import OrderNumberSearch from "@/components/OrderNumberSearch";
import DeliveryNoteNumberSearch from "@/components/DeliveryNoteNumberSearch";
import ResultTable from "../../orderTracking/components/resultTable";
export default {
  components: {
    OrderNumberSearch,
    DeliveryNoteNumberSearch,
    ResultTable,
  },
  data() {
    return {
      goodsOwner: store.getters.name,
      orderTrackingForm: {
        arrivalsStore: "", // 到運店家
        entrustCustomer: "", // 委託客戶
        statusRadio: "0", // 訂單狀態
        signStatus: "", //「配送回報」狀況
        dateType: "3", // 日期選項
        dateRange: [new Date(), new Date()], // 日期範圍 [new Date(2020, 9, 10), new Date(2020, 11, 20)]
      },
      customerOptions: [
        {
          value: "-1",
          label: "全部",
        },
      ],
    };
  },
  beforeMount() {
    this.getCustomerOptions();
  },
  methods: {
    // 「訂單編號」查詢
    customerOrderNumberSearchMethod(data) {
      this.$refs.resultTable.total = 0;
      this.$refs.resultTable.showData = [];
      this.$refs.resultTable.currentPage = 1;
      this.$refs.resultTable.showLoading = true;
      customerOrderNumberSearch(this.goodsOwner, data.orderNumber)
        .then((res) => {
          this.$refs.resultTable.showLoading = false;
          this.$refs.resultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.resultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    // 「送貨單號碼」查詢
    customerDeliveryNoteNumberSearchMethod(data) {
      this.$refs.resultTable.total = 0;
      this.$refs.resultTable.showData = [];
      this.$refs.resultTable.currentPage = 1;
      this.$refs.resultTable.showLoading = true;
      customerDeliveryNoteNumberSearch(this.goodsOwner, data.deliveryNoteNumber)
        .then((res) => {
          this.$refs.resultTable.showLoading = false;
          this.$refs.resultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.resultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    // 「條件」查詢
    onQueryClick() {
      this.$refs.resultTable.total = 0;
      this.$refs.resultTable.showData = [];
      this.$refs.resultTable.currentPage = 1;
      let dateRange = this.orderTrackingForm.dateRange;
      let dataFrom = {
        arrivalsStore: this.orderTrackingForm.arrivalsStore, // 到運店家
        entrustCustomer:
          this.orderTrackingForm.entrustCustomer == -1
            ? null
            : this.orderTrackingForm.entrustCustomer, // 委運客戶(下拉選單)
        statusRadio: this.orderTrackingForm.statusRadio, // 訂單狀態(全部、完成集貨、集貨回倉…)
        signStatus: this.checkSignStatusValue(
          this.orderTrackingForm.signStatus
        ), //「配送回報」狀況
        dateType: this.orderTrackingForm.dateType, // 日期選項(訂單日期、集貨日期、配送日期)
        startDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[0], "yyyy/MM/dd")
            : null, // 開始日期
        endDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[1], "yyyy/MM/dd")
            : null, // 結束日期
      };
      this.$refs.resultTable.showLoading = true;
      customerOrdersSearch(this.goodsOwner, dataFrom)
        .then((res) => {
          this.$refs.resultTable.showLoading = false;
          this.$refs.resultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success",
          });
        })
        .catch((err) => {
          this.$refs.resultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error",
          });
        });
    },
    // 不符合條件時，將 signStatus 清空為空字串
    checkSignStatusValue(signStatus) {
      if (this.orderTrackingForm.statusRadio == 4) {
        return signStatus;
      } else {
        return "";
      }
    },
    // 委運客戶
    getCustomerOptions() {
      getCustomerCommission(this.goodsOwner)
        .then((res) => {
          res.data.forEach((item) => {
            this.customerOptions.push(item);
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss">
.orderTracking {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-radio-button--medium .el-radio-button__inner {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 20px;
}
</style>
