<template>
  <el-container class="container login-container">
    <!-- form__login -->
    <el-form class="login-page"
             ref="loginForm"
             :model="loginForm"
             :rules="loginRules"
             auto-complete="on"
             label-position="left">
      <!-- --------------------------------------------------------- -->
      <!-- login-bg -->
      <!-- <el-form-item class="login-bg"></el-form-item> -->
      <!-- login-bg end -->
      <!-- --------------------------------------------------------- -->
      <!-- login-row -->
      <el-form-item class="login-row">
        <el-form-item class="login-language">
          <lang-select />
        </el-form-item>
        <!-- logo -->
        <el-form-item class="login-logo">
          <img class="img100"
               src="../../assets/login_images/logo-line.png" />
        </el-form-item>

        <!-- logo end -->
        <!-- input-row -->
        <el-form-item class="login-input-row">
          <el-form-item prop="username">
            <el-input ref="username"
                      v-model="loginForm.username"
                      :placeholder="$t('login.username')"
                      name="username"
                      type="text"
                      tabindex="1"
                      auto-complete="on" />
          </el-form-item>
          <el-form-item prop="password">
            <el-input :key="passwordType"
                      ref="password"
                      v-model="loginForm.password"
                      :type="passwordType"
                      :placeholder="$t('login.password')"
                      name="password"
                      tabindex="2"
                      auto-complete="on"
                      @keyup.enter.native="handleLogin" />
            <span class="show-pwd"
                  @click="showPwd">
              <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
            </span>
          </el-form-item>
          <el-form-item prop="dcCode">
            <el-select style="width: 100%"
                       v-model="loginForm.dcCode"
                       filterable
                       placeholder="請選擇物流中心">
              <el-option v-for="item in logisticsCenterOptions"
                         :key="item.dcCode"
                         :label="item.dcName"
                         :value="item.dcCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-button class="button-style"
                     :loading="loading"
                     type="primary"
                     @click.native.prevent="handleLogin">{{ $t("login.logIn") }}</el-button>

          <!-- <el-button class="button-style"
                     :loading="loading"
                     type="primary"
                     @click="handlePrintLogbook">{{ $t("login.printLogbook") }}</el-button> -->

          <!-- <div class="tips">
            <span>{{ $t("login.username") }} : admin</span>
            <span>{{ $t("login.password") }} : {{ $t("login.any") }}</span>
          </div>
          <div class="tips">
            <span>{{ $t("login.username") }} : editor</span>
            <span>{{ $t("login.password") }} : {{ $t("login.any") }}</span>
          </div> -->
        </el-form-item>
        <!-- input-row end -->
      </el-form-item>
      <!-- login-row-end -->
      <!-- --------------------------------------------------------- -->
      <!-- login-bg -->
      <el-form-item class="login-bg"></el-form-item>
      <!-- login-bg end -->
      <!-- --------------------------------------------------------- -->
    </el-form>
    <!-- form__login end -->
  </el-container>
</template>

<script>
import { validUsername } from "@/utils/validate";
import LangSelect from "@/components/LangSelect";
import { getDcs } from "@/api/common";

export default {
  name: "Login",
  components: { LangSelect },
  data() {
    // validUsername -> 暫時寫死登入者驗證機制
    const validateUsername = (rule, value, callback) => {
      if (!validUsername(value)) {
        callback(new Error("Please enter the correct user name"));
      } else {
        callback();
      }
    };
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error("The password can not be less than 6 digits"));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        username: "",
        password: "",
        dcCode: "",
      },
      loginRules: {
        // username: [
        //   { required: true, trigger: "blur", validator: validateUsername },
        // ],
        // password: [
        //   { required: true, trigger: "blur", validator: validatePassword },
        // ],
        dcCode: [
          { required: true, message: "請選擇物流中心", trigger: "change" },
        ],
      },
      loading: false,
      passwordType: "password",
      redirect: undefined,
      logisticsCenterOptions: [],
    };
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true,
    },
  },
  beforeMount() {
    this.getLogisticsCenterOptions();
    this.showVersion();
  },
  methods: {
    showVersion() {
      if (
        process.env.NODE_ENV === "production" ||
        process.env.NODE_ENV === "staging"
      ) {
        console.log("Version: " + process.env.VUE_APP_VERSION);
      }
    },
    showPwd() {
      if (this.passwordType === "password") {
        this.passwordType = "";
      } else {
        this.passwordType = "password";
      }
      this.$nextTick(() => {
        this.$refs.password.focus();
      });
    },
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch("user/login", this.loginForm)
            .then(() => {
              this.$router.push({ path: this.redirect || "/" });
              this.loading = false;
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    handlePrintLogbook() {
      this.$router.push("/printLogbook");
    },
    getLogisticsCenterOptions() {
      getDcs()
        .then((res) => {
          this.logisticsCenterOptions = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
$dark_gray: #889aa4;

.show-pwd {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 16px;
  color: $dark_gray;
  cursor: pointer;
  user-select: none;
}
.button-style {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0px;
}
.tips {
  font-size: 14px;
  span {
    &:first-of-type {
      margin-right: 16px;
    }
  }
}
</style>