<template>
  <el-dialog :visible.sync="dialogVisible"
             width="70%"
             center
             :before-close="handleClose"
             class="popup-row">
    <el-button icon="el-icon-printer"
               type="info"
               plain
               @click="print">Print</el-button>
    <pdf :src="pdfUrl"></pdf>
  </el-dialog>
</template>

<script>
import pdf from "vue-pdf";
import { getDriversDailyLogPdf } from "@/api/printLogbook";
export default {
  components: { pdf },
  data() {
    return {
      dialogVisible: false,
      pdfUrl: "",
      pdfData: "",
    };
  },
  methods: {
    setValue(visible, data) {
      getDriversDailyLogPdf(
        data.area,
        data.queryNumber,
        data.carNo,
        data.deliveryDate
      )
        .then((data) => {
          this.pdfData = data;
          this.pdfUrl = URL.createObjectURL(new Blob([data]));
        })
        .catch((err) => {
          console.log(err);
        });
      this.dialogVisible = visible;
    },
    print() {
      let blob = new Blob([this.pdfData], { type: "application/pdf" });
      window.open(window.URL.createObjectURL(blob));
    },
    handleClose(done) {
      done();
    },
    close() {
      this.dialogVisible = false;
    },
  },
};
</script>

<style>
</style>