<template>
  <el-dialog
    :visible.sync="dialogVisible"
    width="40%"
    :before-close="handleClose"
    class="popup-row"
    append-to-body
  >
    <el-form ref="customizeWarningForm" :model="customizeWarningForm">
      <div class="popup-title">
        <div class="title__text">
          <div>{{ customizeWarningForm.title }}</div>
        </div>
      </div>
      <div class="popup-inner">
        <div class="msg-text">
          <span
            v-for="msgItem in customizeWarningForm.errorMsg"
            :key="msgItem"
            class="error-Msg"
          >
            {{ msgItem }}
            <br />
          </span>
        </div>
      </div>
      <div class="text-center">
        <el-button @click="close">取消</el-button>
        <el-button type="primary" @click="close">確定</el-button>
      </div>
    </el-form>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: false,
      customizeWarningForm: {
        title: "", // 標題
        errorMsg: [], // 錯誤警告訊息
      },
    };
  },
  methods: {
    /**
     * 傳入參數
     * visible: true
     * title: 標題
     * errorMsg: [] // 錯誤警告訊息
     */
    setValue(visible, title, errorMsg) {
      this.customizeWarningForm.title = title;
      this.customizeWarningForm.errorMsg = errorMsg;
      this.dialogVisible = visible;
    },
    // 視窗關閉
    handleClose(done) {
      done();
      this.$refs["customizeWarningForm"].resetFields();
    },
    // 關閉
    close() {
      this.$refs["customizeWarningForm"].resetFields();
      this.dialogVisible = false;
    },
  },
};
</script>

<style scoped>
.popup-row.popup-zindex {
  z-index: 10005 !important;
}

.el-picker-panel {
  z-index: 10006 !important;
}

.popup-row .el-dialog {
  position: relative;
  margin-top: 5vh !important;
  margin: 0 auto 50px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 50%;
  border-radius: 25px;
  border: 5px solid #35bcf3;
}
.error-Msg {
  padding-bottom: 5px;
}
.msg-text {
  padding: 50px;
  font-size: 30px;
}
</style>