<template>
  <el-dialog :visible.sync="dialogVisible"
             :title="isEdit ? '編輯角色' : '新增角色'">
    <el-form :model="roleData"
             ref="roleForm"
             :rules="roleRules"
             label-width="120px"
             label-position="right">
      <el-form-item label="角色"
                    prop="roleName">
        <el-input v-model="roleData.roleName"
                  placeholder="請輸入角色" />
      </el-form-item>
      <el-form-item label="啟用狀態">
        <el-checkbox v-model="roleData.enabled" />
      </el-form-item>
      <el-form-item label="描述">
        <el-input v-model="roleData.description"
                  :autosize="{ minRows: 2, maxRows: 4 }"
                  type="textarea" />
      </el-form-item>
      <el-form-item label="功能權限">
        <el-tree ref="tree"
                 :check-strictly="checkStrictly"
                 :data="routesData"
                 :props="defaultProps"
                 show-checkbox
                 node-key="key" />
      </el-form-item>
      <el-form-item style="text-align: right">
        <el-button type="danger"
                   @click="dialogVisible = false">取消</el-button>
        <el-button type="primary"
                   @click="submitRoleData">確定</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>
import path from "path";
import { deepClone } from "@/utils";
import { mapGetters } from "vuex";
import { getRoutes } from "@/api/role";
import { jsonRoutes, asyncRoutes, constantRoutes } from "@/router";
import i18n from "@/lang";
import { createRole, updateRole } from "@/api/role";

const defaultRole = {
  id: null,
  roleName: "",
  enabled: true,
  description: "",
  siteNodes: [],
};

export default {
  data() {
    return {
      isEdit: "",
      roleData: Object.assign({}, defaultRole),
      dialogVisible: false,
      checkStrictly: false,
      defaultProps: {
        children: "children",
        label: "title",
      },
      roleRules: {
        roleName: [{ required: true, message: "請輸入角色", trigger: "blur" }],
      },
    };
  },
  computed: {
    routesData() {
      return this.routes;
    },
    ...mapGetters(["name", "roles"]),
  },
  created() {
    // Mock: get all routes and roles list from server
    this.getRoutes();
  },
  methods: {
    async getRoutes() {
      //Only async routes are permission required
      const routes = this.generateRoutes(asyncRoutes);
      this.routes = this.i18n(routes);
    },
    i18n(routes) {
      const app = routes.map((route) => {
        route.title = i18n.t(`roleTree.${route.titleForRoleTree}`);
        if (route.children) {
          route.children = this.i18n(route.children);
        }
        return route;
      });
      return app;
    },
    // Reshape the routes structure so that it looks the same as the sidebar
    generateRoutes(routes, basePath = "/") {
      const res = [];
      for (let route of routes) {
        // skip some route
        if (route.hidden) {
          continue;
        }
        const onlyOneShowingChild = this.onlyOneShowingChild(
          route.children,
          route
        );
        if (route.children && onlyOneShowingChild && !route.alwaysShow) {
          route = onlyOneShowingChild;
        }
        const data = {
          key: route.key,
          path: path.resolve(basePath, route.path),
          title: route.meta && route.meta.title,
          name: route.name,
          titleForRoleTree: route.titleForRoleTree,
        };
        // recursive child routes
        if (route.children) {
          data.children = this.generateRoutes(route.children, data.path);
        }
        res.push(data);
      }
      return res;
    },
    // reference: src/view/layout/components/Sidebar/SidebarItem.vue
    onlyOneShowingChild(children = [], parent) {
      let onlyOneChild = null;
      const showingChildren = children.filter((item) => !item.hidden);

      // When there is only one child route, the child route is displayed by default
      if (showingChildren.length === 1) {
        onlyOneChild = showingChildren[0];
        onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path);
        return onlyOneChild;
      }

      // Show parent if there are no child route to display
      if (showingChildren.length === 0) {
        onlyOneChild = { ...parent, path: "", noShowingChildren: true };
        return onlyOneChild;
      }

      return false;
    },
    setValue(visible, data, isEdit) {
      this.isEdit = isEdit;
      this.dialogVisible = visible;
      this.roleData =
        data === null ? Object.assign({}, defaultRole) : deepClone(data);
      //console.log(this.roleData);
      if (this.isEdit) {
        this.$nextTick(() => {
          //console.log(this.$refs.tree);
          //Set checked nodes by user's site nodes
          this.$refs.tree.setCheckedKeys(this.roleData.siteNodes);
          this.checkStrictly = false;
        });
      }
    },
    // 「確定」按鈕
    submitRoleData() {
      this.$refs.roleForm.validate((valid) => {
        if (valid) {
          const checkedKeys = this.$refs.tree.getCheckedKeys();
          //this.roleData.siteNodes = deepClone(checkedKeys);
          let roleData = {
            name: this.roleData.roleName,
            description: this.roleData.description,
            enabled: this.roleData.enabled,
            resources: [
              {
                serverId: 1,
                resource: deepClone(checkedKeys).toString(),
              },
            ],
          };
          if (this.isEdit) {
            updateRole(this.roleData.id, roleData)
              .then((res) => {
                this.$message({
                  type: "success",
                  message: "用戶修改成功",
                });
                this.$emit("childMethod");
              })
              .catch((err) => {
                console.log(err);
              });
          } else {
            createRole(roleData)
              .then((res) => {
                this.$message({
                  type: "success",
                  message: "用戶角色成功",
                });
                this.$emit("childMethod");
              })
              .catch((err) => {
                console.log(err);
              });
          }
          this.dialogVisible = false;
          this.$refs.roleForm.resetFields();
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
