<template>
  <el-dialog
    :visible.sync="dialogVisible"
    width="70%"
    :before-close="handleClose"
    class="popup-row"
  >
    <div style="padding-bottom: 10px; font-weight: bold; font-size: 22px">
      送貨單號碼：{{ deliveryNoteNumber }}
    </div>
    <el-table
      :data="cargoConditionData"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      :header-cell-style="tableHeaderColor"
      :cell-style="tableCellColor"
    >
      <el-table-column
        align="center"
        prop="orderStatus"
        label="訂單狀態"
        :min-width="150"
      >
      </el-table-column>
      <el-table-column
        align="center"
        prop="dateTime"
        label="時間"
        :min-width="120"
      >
        <template slot-scope="scope">
          <div>{{ setDateTimeStr(scope.row.dateTime, true) }}</div>
          <div>{{ setDateTimeStr(scope.row.dateTime, false) }}</div>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center"
                       prop="temperature"
                       label="溫度"
                       :min-width="80">
        <template slot-scope="scope">
          <div v-if="scope.row.temperature">
            <el-link type="primary"
                     v-on:click.prevent="handleTemperature(scope.row.id)">{{ scope.row.temperature }}</el-link>
          </div>
        </template>
      </el-table-column> -->
      <el-table-column
        v-if="isCustomerService"
        header-align="center"
        align="left"
        prop="exceptionRecord"
        label="異常記錄"
        :min-width="150"
      >
        <template slot-scope="scope">
          <ul v-if="scope.row.exceptionRecord">
            <li v-for="item in scope.row.exceptionRecord" :key="item.id">
              <div v-if="item.hasAbnormalRecordPhotos">
                <el-link
                  type="primary"
                  class="exceptionRecord-font"
                  v-on:click.prevent="
                    handleExceptionRecord(
                      scope.row.exceptionRecord,
                      scope.row.dateTime
                    )
                  "
                  >{{ item.description }}</el-link
                >
              </div>
              <div v-else>
                <span class="exceptionRecord-font">
                  {{ item.description }}
                </span>
              </div>
            </li>
          </ul>
        </template>
      </el-table-column>
      <el-table-column
        v-if="isCustomerService"
        align="center"
        prop="updateStaffDc"
        label="物流中心"
      >
      </el-table-column>
      <el-table-column
        v-if="isCustomerService"
        align="center"
        prop="updateStaff"
        label="更新人員"
        :min-width="100"
      >
      </el-table-column>
      <el-table-column
        v-if="isCustomerService"
        align="center"
        prop="carNo"
        label="車號/板架號"
        :min-width="100"
      >
        <template slot-scope="scope">
          <div v-if="scope.row.hasCarTemperatureFile">
            <el-link
              type="primary"
              v-on:click.prevent="handleCarNo(scope.row)"
              >{{ scope.row.carNo }}</el-link
            >
          </div>
          <div v-else>
            <span>{{ scope.row.carNo }}</span>
          </div>
        </template>
      </el-table-column>
      <el-table-column
        v-if="isCustomerService"
        align="center"
        prop="quantityOrWeight"
        label="件數/公斤"
        :min-width="100"
      >
      </el-table-column>
      <el-table-column
        v-if="isCustomerService"
        header-align="center"
        align="left"
        prop="remark"
        label="備註"
      >
      </el-table-column>
    </el-table>
    <exception-record-dialog
      ref="exceptionRecordDialog"
    ></exception-record-dialog>
  </el-dialog>
</template>

<script>
import {
  getCargoCondition,
  getCustomerCargoCondition,
  getCarTemperatureFile
} from "@/api/orderManagement";
import XEUtils from "xe-utils";
import exceptionRecordDialog from "@/components/ExceptionRecordDialog/index";
export default {
  components: { exceptionRecordDialog },
  data() {
    return {
      isCustomerService: true,
      dialogVisible: false,
      deliveryNoteNumber: "",
      cargoConditionData: []
    };
  },
  methods: {
    // 修改table header的背景色
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return "background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;";
      }
    },
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      return "font-size: 16px;";
    },
    setValue(visible, data, isCustomerService) {
      this.isCustomerService = isCustomerService;
      this.cargoConditionData = [];
      this.deliveryNoteNumber = data.deliveryNoteNumber;
      if (this.isCustomerService) {
        // 客服
        getCargoCondition(data.id)
          .then(res => {
            this.cargoConditionData = res.data;
            this.$message({
              message: this.$t("message.success.search"),
              type: "success"
            });
          })
          .catch(err => {
            console.log(err);
            this.$message({
              message: this.$t("message.fail.search"),
              type: "error"
            });
          });
      } else {
        // 客戶
        getCustomerCargoCondition(data.id)
          .then(res => {
            this.cargoConditionData = res.data;
            this.$message({
              message: this.$t("message.success.search"),
              type: "success"
            });
          })
          .catch(err => {
            console.log(err);
            this.$message({
              message: this.$t("message.fail.search"),
              type: "error"
            });
          });
      }
      this.dialogVisible = visible;
    },
    // 「溫度」按鈕
    handleTemperature(id) {
      console.log("「溫度」按鈕:" + id);
    },
    // 「異常記錄」按鈕
    handleExceptionRecord(data, dateTime) {
      this.$refs.exceptionRecordDialog.setValue(
        true,
        data,
        this.deliveryNoteNumber,
        dateTime
      );
    },
    // 車號/櫃號
    handleCarNo(rowData) {
      let fileName =
        rowData.carNo +
        "_CarTemperatureFile_" +
        XEUtils.toDateString(new Date(), "yyyyMMddHHmmss") +
        ".zip";
      getCarTemperatureFile(rowData.id)
        .then(res => {
          if (res.code == 400) {
            return;
          } else {
            const url = window.URL.createObjectURL(new Blob([res]));
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", fileName);
            document.body.appendChild(link);
            link.click();
          }
        })
        .catch(err => {
          this.$message({
            message: "「此車號查無溫度資料」",
            type: "error"
          });
        });
    },
    // 拆分 DateTime 字串
    setDateTimeStr(dateTimeStr, isDate) {
      if (dateTimeStr === null) {
        return;
      }
      let dateTimeData = XEUtils.toStringDate(
        dateTimeStr,
        "yyyy/MM/dd HH:mm:ss"
      );
      let date = XEUtils.toDateString(dateTimeData, "yyyy/MM/dd");
      let time = XEUtils.toDateString(dateTimeData, "HH:mm:ss");
      return isDate ? date : time;
    },
    handleClose(done) {
      done();
    },
    close() {
      this.dialogVisible = false;
    }
  }
};
</script>

<style lang="scss">
.exceptionRecord {
  &-font {
    font-family: sans-serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
  }
}
.el-link {
  vertical-align: 0 !important;
}
</style>
