<template>
  <div class="resultTable-container">
    <span class="resultTable-title"> 查詢結果 </span>
    <el-divider />
    <el-table
      v-loading="showLoading"
      element-loading-text="Loading..."
      border
      fit
      highlight-current-row
      :header-cell-style="tableHeaderColor"
      :cell-style="tableCellColor"
      style="width: 100%"
      :data="showData"
    >
      <el-table-column align="center" prop="id" label="貨況" :min-width="100">
        <template slot-scope="scope">
          <el-button
            type="primary"
            class="resultTable-textSize"
            @click="handleCargoCondition(scope.$index, scope.row)"
          >
            貨況
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        prop="orderStatus"
        label="訂單狀態"
        :min-width="100"
      />
      <el-table-column
        align="center"
        prop="orderDate"
        label="訂單日期"
        :min-width="120"
      />
      <el-table-column
        v-if="isCustomerService"
        align="center"
        prop="type"
        label="訂單模式"
        :min-width="120"
      />
      <el-table-column
        align="center"
        prop="orderNumber"
        label="訂單編號"
        :min-width="170"
      />
      <el-table-column
        header-align="center"
        align="center"
        prop="deliveryNoteNumber"
        label="送貨單號"
        :min-width="170"
      />
      <el-table-column
        align="center"
        prop="deptTime"
        label="集貨日期"
        :min-width="120"
      />
      <el-table-column
        align="center"
        prop="deliveryDate"
        label="配送日期"
        :min-width="120"
      />
      <el-table-column
        align="center"
        prop="estimatedDeliveryDate"
        label="預定配送日期"
        :min-width="150"
      />
      <el-table-column
        v-if="!isCustomerService"
        align="center"
        prop="commissionedCustomer"
        label="委運客戶"
        :min-width="120"
      />
      <el-table-column
        v-if="isCustomerService"
        align="center"
        prop="updateStaff"
        label="配送物流士"
        :min-width="120"
      />
      <el-table-column
        v-if="isCustomerService"
        align="center"
        prop="commissionedCustomer"
        label="委運客戶"
        :min-width="150"
      />
      <el-table-column
        header-align="center"
        align="left"
        prop="commissionedAddress"
        label="起運地點"
        :min-width="400"
      />
      <el-table-column
        align="center"
        prop="arrivalsStore"
        label="到運店家"
        :min-width="150"
      />
      <el-table-column
        align="center"
        prop="contactNumber"
        label="聯絡電話"
        :min-width="150"
      />
      <el-table-column
        header-align="center"
        align="left"
        prop="arrivalsAddress"
        label="到運地點"
        :min-width="400"
      />
      <el-table-column
        align="center"
        prop="storageMethod"
        label="溫層"
        :min-width="100"
      />
      <el-table-column
        align="center"
        prop="count"
        label="數量"
        :min-width="100"
      />
      <el-table-column
        header-align="center"
        align="right"
        prop="weight"
        label="重量"
        :min-width="100"
      />
      <el-table-column
        align="center"
        prop="collectionAmount"
        label="代收金額"
        :min-width="100"
      />
      <el-table-column
        header-align="center"
        align="left"
        prop="remark"
        label="備註"
        :min-width="400"
      >
        <template slot-scope="scope">
          <ul v-if="scope.row.remark">
            <li v-for="remark in scope.row.remark" :key="remark">
              {{ remark }}
            </li>
          </ul>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="table-pagination"
      background
      :current-page="currentPage"
      :page-sizes="[5, 10, 15, 30]"
      :page-size="pageSize"
      layout="prev, pager, next, total,sizes"
      :total="total"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <cargo-condition-dialog ref="cargoConditionDialog" />
  </div>
</template>

<script>
import cargoConditionDialog from './cargoConditionDialog.vue'
export default {
  components: { cargoConditionDialog },
  props: {
    isCustomerService: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      showLoading: false,
      currentPage: 1,
      pageSize: 5,
      total: 0,
      resultData: [],
      showData: []
    }
  },
  methods: {
    // 修改table header的背景色
    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0) {
        return 'background-color: #f8f8f9;color: #00000;font-weight: 500;font-size: 18px;'
      }
    },
    tableCellColor({ row, column, rowIndex, columnIndex }) {
      if (row.deliveryDate !== row.estimatedDeliveryDate) {
        return 'font-size: 16px;background-color: #dae2ea;'
      }
      return 'font-size: 16px;background-color: #fff;'
    },
    // 「貨況」按鈕
    handleCargoCondition(idx, rowData) {
      this.$refs.cargoConditionDialog.setValue(
        true,
        rowData,
        this.isCustomerService
      )
    },
    getDataSource(data) {
      this.total = data.length
      this.resultData = data
      this.showData = data
      this.currentChangePage(this.resultData, this.currentPage)
    },
    // 每頁條數切換
    handleSizeChange(pageSize) {
      this.pageSize = pageSize
      this.handleCurrentChange(this.currentPage)
    },
    // 頁碼切換
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage
      this.currentChangePage(this.resultData, currentPage)
    },
    // 分頁方法
    currentChangePage(tableData, currentPage) {
      let from = (currentPage - 1) * this.pageSize
      const to = currentPage * this.pageSize
      this.tempList = []
      for (; from < to; from++) {
        if (tableData[from]) {
          this.tempList.push(tableData[from])
        }
      }
      this.showData = this.tempList
    }
  }
}
</script>

<style lang="scss" scoped>
.resultTable {
  &-container {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
  &-textSize {
    font-size: 16px;
  }
}
</style>
