<template>
  <div class="main-banner">
    <div class="banner__man">
      <img src="../../assets/man-banner.png" />
    </div>
    <div class="banner__text">
      <div class="title">{{ generateTitle(titleText) }}</div>
    </div>
  </div>
</template>

<script>
import { generateTitle } from "@/utils/i18n";
export default {
  data() {
    return {
      titleText: "",
    };
  },
  created: function () {
    this.getTitleText();
  },
  watch: {
    $route() {
      this.titleText = this.$route.meta.title;
    },
  },
  methods: {
    generateTitle,
    getTitleText() {
      this.titleText = this.$route.meta.title;
    },
  },
};
</script>

<style>
.main-banner {
  margin: 20px;
}

.main-banner {
  height: 100px;
  background-color: #fff;
  background-image: url("../../assets/banner.jpg");
  background-size: cover;
  background-position: center 59%;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding-left: 2rem;
}

.main-banner .banner__man {
  height: 100%;
  padding-right: 2rem;
}

.main-banner .banner__text {
  color: #142a41;
  font-size: 0.7rem;
  align-self: center;
}

.main-banner .banner__text .title {
  font-weight: 900;
  font-size: 1.7rem;
}
</style>