<template>
  <!-- 訂單管理 -> 訂單查詢 [客服] -->
  <div class="orderTracking-container">
    <el-form
      ref="orderTrackingForm"
      class="orderTracking-form"
      label-position="left"
      :model="orderTrackingForm"
      label-width="120px"
    >
      <div style="width: 100%">
        <div class="orderTracking-title">查詢條件</div>
      </div>
      <el-divider />
      <el-form-item label="訂單編號">
        <order-number-search
          @childMethod="customerServiceOrderNumberSearchMethod"
        />
      </el-form-item>
      <el-divider />
      <el-form-item label="送貨單號">
        <delivery-note-number-search
          @childMethod="customerServiceDeliveryNoteNumberSearchMethod"
        />
      </el-form-item>
      <el-divider />
      <el-form-item>
        <el-radio-group v-model="orderTrackingForm.modeRadio" size="medium">
          <el-radio-button label="1">集貨DC</el-radio-button>
          <el-radio-button label="2">配送DC</el-radio-button>
        </el-radio-group>
        <el-radio-group
          v-model="orderTrackingForm.areaRadio"
          size="medium"
          style="margin-left: 50px"
        >
          <el-radio-button label="ALL">全部</el-radio-button>
          <el-radio-button
            v-for="item in areaData"
            :key="item.dcCode"
            :label="item.dcCode"
            >{{ item.dcName }}</el-radio-button
          >
        </el-radio-group>
      </el-form-item>
      <el-form-item label="車號/板架號">
        <el-input
          v-model="orderTrackingForm.carNumber"
          style="width: 300px; font-size: 20px"
          placeholder="請輸入"
        />
      </el-form-item>

      <el-form-item label="配送物流士">
        <el-select
          v-model="orderTrackingForm.distributionLogistics"
          style="width: 300px"
          filterable
          placeholder="請選擇"
        >
          <el-option
            v-for="item in distributionLogisticsOptions"
            :key="item.userNo"
            :label="item.displayName"
            :value="item.userNo"
          />
        </el-select>
      </el-form-item>

      <el-form-item label="委運客戶">
        <el-select
          v-model="orderTrackingForm.entrustCustomer"
          style="width: 300px"
          filterable
          placeholder="請選擇"
        >
          <el-option
            v-for="item in customerOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="訂單狀態">
        <el-radio-group v-model="orderTrackingForm.statusRadio" size="medium">
          <el-radio-button label="0">全部</el-radio-button>
          <el-radio-button label="225">集貨完成</el-radio-button>
          <el-radio-button label="235">集貨回倉</el-radio-button>
          <el-radio-button label="238">轉運裝車</el-radio-button>
          <el-radio-button label="400">貨抵配送中心</el-radio-button>
          <el-radio-button label="600">配貨裝車</el-radio-button>
          <el-radio-button label="900">配送回報</el-radio-button>
          <el-radio-button label="1100">配後回倉</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item
        v-if="
          orderTrackingForm.statusRadio == 900 ||
            orderTrackingForm.statusRadio == 1100
        "
      >
        <el-radio-group v-model="orderTrackingForm.signStatus" size="medium">
          <el-radio-button label="">全部</el-radio-button>
          <el-radio-button label="0">配送完成</el-radio-button>
          <el-radio-button label="1">無人收件</el-radio-button>
          <el-radio-button label="2">改單簽收(有退件)</el-radio-button>
          <el-radio-button label="3">全部拒收</el-radio-button>
          <el-radio-button label="4">改單簽收(無退件)</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <el-radio-group v-model="orderTrackingForm.dateType" size="medium">
          <el-radio-button label="1">訂單日期</el-radio-button>
          <el-radio-button label="2">集貨日期</el-radio-button>
          <el-radio-button label="3">配送日期</el-radio-button>
          <el-radio-button label="4">延配日期</el-radio-button>
        </el-radio-group>
        <el-date-picker
          v-model="orderTrackingForm.dateRange"
          style="margin-left: 50px; font-size: 20px"
          type="daterange"
          range-separator="至"
          start-placeholder="開始日期"
          end-placeholder="結束日期"
        />
        <el-button
          type="primary"
          icon="el-icon-search"
          style="margin-left: 10px"
          @click="onQueryClick"
          >查詢</el-button
        >
      </el-form-item>
    </el-form>
    <result-table ref="resultTable" :is-customer-service="true" />
  </div>
</template>

<script>
import XEUtils from "xe-utils";
import { getDcs } from "@/api/common";
import {
  customerServiceOrderNumberSearch,
  customerServiceDeliveryNoteNumberSearch,
  customerServiceOrdersSearch,
  getCustomersByCode,
  getDistributionLogistics
} from "@/api/orderManagement";
import OrderNumberSearch from "@/components/OrderNumberSearch";
import DeliveryNoteNumberSearch from "@/components/DeliveryNoteNumberSearch";
import ResultTable from "../../orderTracking/components/resultTable";

export default {
  components: {
    OrderNumberSearch,
    DeliveryNoteNumberSearch,
    ResultTable
  },
  data() {
    return {
      orderTrackingForm: {
        modeRadio: "1", // 配送模式
        areaRadio: "ALL", // 區域
        carNumber: "", // 車號/櫃號 // 382-ZA
        distributionLogistics: null, // 配送物流士
        entrustCustomer: "-1", // 委託客戶
        statusRadio: "0", // 訂單狀態
        signStatus: "", // 「配送回報」狀況
        dateType: "3", // 日期選項
        dateRange: [new Date(), new Date()] // 日期範圍 [new Date(2020, 9, 10), new Date(2020, 11, 20)]
      },
      customerOptions: [
        {
          value: "-1",
          label: "全部"
        }
      ],
      distributionLogisticsOptions: [],
      areaData: []
    };
  },
  beforeMount() {
    this.getDistributionLogisticsOptions();
    this.getCustomerOptions();
    this.getAreaData();
  },
  methods: {
    // 「訂單編號」查詢
    customerServiceOrderNumberSearchMethod(data) {
      this.$refs.resultTable.total = 0;
      this.$refs.resultTable.showData = [];
      this.$refs.resultTable.currentPage = 1;
      this.$refs.resultTable.showLoading = true;
      customerServiceOrderNumberSearch(data.orderNumber)
        .then(res => {
          this.$refs.resultTable.showLoading = false;
          this.$refs.resultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success"
          });
        })
        .catch(err => {
          this.$refs.resultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error"
          });
        });
    },
    // 「送貨單號碼」查詢
    customerServiceDeliveryNoteNumberSearchMethod(data) {
      this.$refs.resultTable.total = 0;
      this.$refs.resultTable.showData = [];
      this.$refs.resultTable.currentPage = 1;
      this.$refs.resultTable.showLoading = true;
      customerServiceDeliveryNoteNumberSearch(data.deliveryNoteNumber)
        .then(res => {
          this.$refs.resultTable.showLoading = false;
          this.$refs.resultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success"
          });
        })
        .catch(err => {
          this.$refs.resultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error"
          });
        });
    },
    // 「條件」查詢
    onQueryClick() {
      this.$refs.resultTable.total = 0;
      this.$refs.resultTable.showData = [];
      this.$refs.resultTable.currentPage = 1;
      const dateRange = this.orderTrackingForm.dateRange;
      const dataFrom = {
        modeRadio: this.orderTrackingForm.modeRadio, // 配送模式(配送DC、集貨DC)
        areaRadio: this.orderTrackingForm.areaRadio, // 區域(全部、五股、觀音、晶富、虎尾、仁武)
        carNumber: this.orderTrackingForm.carNumber, // 車號/櫃號
        entrustCustomer:
          this.orderTrackingForm.entrustCustomer == -1
            ? null
            : this.orderTrackingForm.entrustCustomer, // 委託客戶(下拉選單)
        statusRadio: this.orderTrackingForm.statusRadio, // 訂單狀態(全部、完成集貨、集貨回倉…)
        signStatus: this.checkSignStatusValue(
          this.orderTrackingForm.signStatus
        ), // 「配送回報」狀況
        dateType: this.orderTrackingForm.dateType, // 日期選項(訂單日期、集貨日期、配送日期)
        startDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[0], "yyyy/MM/dd")
            : null, // 開始日期
        endDate:
          dateRange !== undefined
            ? XEUtils.toDateString(dateRange[1], "yyyy/MM/dd")
            : null, // 結束日期
        userNo: this.orderTrackingForm.distributionLogistics,
        userName: XEUtils.filter(
          this.distributionLogisticsOptions,
          item => item.userNo == this.orderTrackingForm.distributionLogistics
        )[0].userName // [{value: 22}] this.orderTrackingForm.distributionLogistics
      };

      this.$refs.resultTable.showLoading = true;
      customerServiceOrdersSearch(dataFrom)
        .then(res => {
          this.$refs.resultTable.showLoading = false;
          this.$refs.resultTable.getDataSource(res.data);
          this.$message({
            message: this.$t("message.success.search"),
            type: "success"
          });
        })
        .catch(err => {
          this.$refs.resultTable.showLoading = false;
          console.log(err);
          this.$message({
            message: this.$t("message.fail.search"),
            type: "error"
          });
        });
    },
    // 不符合條件時，將 signStatus 清空為空字串
    checkSignStatusValue(signStatus) {
      if (
        this.orderTrackingForm.statusRadio == 900 ||
        this.orderTrackingForm.statusRadio == 1100
      ) {
        return signStatus;
      } else {
        return "";
      }
    },
    // 「配送物流士」下拉選單
    getDistributionLogisticsOptions() {
      getDistributionLogistics()
        .then(res => {
          res.data.forEach(item => {
            this.distributionLogisticsOptions.push(item);
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 「委運客戶」下拉選單
    getCustomerOptions() {
      getCustomersByCode("")
        .then(res => {
          res.data.forEach(item => {
            this.customerOptions.push(item);
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    // 「區域」Radio Button
    getAreaData() {
      getDcs()
        .then(res => {
          this.areaData = res.data;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style lang="scss">
.orderTracking {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-radio-button--medium .el-radio-button__inner {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 20px;
}
</style>
