@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?etzwy5');
  src:  url('fonts/icomoon.eot?etzwy5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?etzwy5') format('truetype'),
    url('fonts/icomoon.woff?etzwy5') format('woff'),
    url('fonts/icomoon.svg?etzwy5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-icon-"], [class*=" ic-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-icon-flight:before {
  content: "\e539";
}
.ic-icon-check:before {
  content: "\e5ca";
}
.ic-icon-navigate_before:before {
  content: "\e408";
}
.ic-icon-navigate_next:before {
  content: "\e409";
}
.ic-icon-chrome_reader_mode:before {
  content: "\e86d";
}
.ic-icon-close:before {
  content: "\e5cd";
}
.ic-icon-content_copy:before {
  content: "\e14d";
}
.ic-icon-developer_board:before {
  content: "\e30d";
}
.ic-icon-extension:before {
  content: "\e87b";
}
.ic-icon-lightbulb_outline:before {
  content: "\e911";
}
.ic-icon-alert-triangle:before {
  content: "\e915";
}
.ic-icon-archive:before {
  content: "\e900";
}
.ic-icon-arrow-down-circle:before {
  content: "\e916";
}
.ic-icon-bell:before {
  content: "\e917";
}
.ic-icon-book:before {
  content: "\e90f";
}
.ic-icon-box:before {
  content: "\e901";
}
.ic-icon-check-circle:before {
  content: "\e918";
}
.ic-icon-cpu:before {
  content: "\e909";
}
.ic-icon-download:before {
  content: "\e919";
}
.ic-icon-edit-3:before {
  content: "\e902";
}
.ic-icon-edit:before {
  content: "\e903";
}
.ic-icon-file-text1:before {
  content: "\e90d";
}
.ic-icon-file:before {
  content: "\e90e";
}
.ic-icon-grid:before {
  content: "\e908";
}
.ic-icon-home:before {
  content: "\e912";
}
.ic-icon-layout:before {
  content: "\e910";
}
.ic-icon-mail:before {
  content: "\e914";
}
.ic-icon-package:before {
  content: "\e904";
}
.ic-icon-plus-square:before {
  content: "\e90a";
}
.ic-icon-plus:before {
  content: "\e90b";
}
.ic-icon-search:before {
  content: "\e913";
}
.ic-icon-settings:before {
  content: "\e90c";
}
.ic-icon-slash:before {
  content: "\e91a";
}
.ic-icon-trash-2:before {
  content: "\e905";
}
.ic-icon-truck:before {
  content: "\e906";
}
.ic-icon-user:before {
  content: "\e907";
}
