/* 

all style
└btn
└img
└radio
└navbar
└breadcrumb

page
└container
└Login page
└welcome page


*/


/* $$$ all style------------------------------------------------  */
/* btn */
.el-button--primary {
  color: #fff;
  background-color: #386fa5;
  border-color: #386fa5;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #d7ecff;
  border-color: #3695f2;
  color: #3695f2;
}

.el-button--primary.is-active,
.el-button--primary:active {
  background: #3695f2;
  border-color: #3695f2;
  color: #fff;
}

.el-button--primary:active {
  outline: 0;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  color: #fff;
  background-color: #809fa8;
  border-color: #809fa8;
}

.el-button--primary.is-plain {
  color: #53c9ed;
  background: #eefafd;
  border-color: #bae9f8;
}

.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
  background: #53c9ed;
  border-color: #53c9ed;
  color: #fff;
}

.el-button--primary.is-plain:active {
  background: #4bb5d5;
  border-color: #4bb5d5;
  color: #fff;
  outline: 0;
}

.el-button--primary.is-plain.is-disabled,
.el-button--primary.is-plain.is-disabled:active,
.el-button--primary.is-plain.is-disabled:focus,
.el-button--primary.is-plain.is-disabled:hover {
  color: #98dff4;
  background-color: #eefafd;
  border-color: #ddf4fb;
}

/* img */
.img100{
  width: 100%;
}

/* radio */
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #fff;
  background-color: #386fa5;
  border-color: #386fa5;
  -webkit-box-shadow: -1px 0 0 0 #386fa5;
  box-shadow: -1px 0 0 0 #386fa5;
}

/* navbar */
.sidebar-container .el-submenu.is-opened>.el-submenu__title{
  color: #ffffff !important;
  background: #386fa5 !important;
  border-radius: 30px 0 0 30px;
  margin-left: 3px;
}

.sidebar-container .el-submenu.is-opened>.el-submenu__title i{
  color: #ffffff;
}

.sidebar-container .el-submenu.is-opened>.el-submenu__title .sub-el-icon{
  color: #142a41;
  background: #fff;
  border-radius: 50px;
  /* padding-top: 1px; */
  /* line-height: 21px; */
  /* border: 7px solid #fff; */
  /* margin-left: -10px; */
  box-shadow: 0 0 0 4px #fff;
}

.sidebar-container .el-submenu.is-opened>.el-menu{
  margin-left: 26px;
}

.sidebar-container .el-submenu.is-opened .el-menu-item.is-active{
  color: #386fa5 !important;
  background: #f0fbff !important;
}

/* breadcrumb */
.el-breadcrumb__inner,
.el-breadcrumb .no-redirect {
  color: #979ca5;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #979ca5;
}

.el-breadcrumb__inner a:hover,
.el-breadcrumb__inner.is-link:hover {
  color: #386fa5;
  cursor: pointer;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  font-weight: 400;
  color: #9ba1a5;
  cursor: text;
}



/* $$$ page------------------------------------------------------- */

/* all page */
.main-banner .banner__man img{
  height: 100%;
}

/* right-container inner style */
.dashboard-editor-container {
  background-color: #fff;
  min-height: 100vh;
  padding: 0 20px 20px;
}
.form-container {
  background-color: #fff;
  border:1px solid #eee;
  padding: 20px;
  border-radius: 4px;
}
.table-container {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.table-external-btn {
  color: #386fa5;
  border: 1px solid #386fa5;
}
.table-pagination {
  text-align: center;
  margin-top: 5px;
}


/* $$ Login page ----------------------------------------------*/

.login-page{
  display: flex;
  align-items: center;
  width: 100%;
}

.login-container{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/login_images/loginbg.jpg");
}

.login-bg{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.login-row{
  width: 500px;
  background: #fff;
  margin: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.login-language{
  float: right;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: -20px;
}

.login-language .el-dropdown{
  font-size: 25px;
}

.login-logo{
  width: 220px;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: auto;
}

.login-input-row{
  padding: 1rem 2rem 2rem 2rem;
  margin: auto;
}

.login-input-row .el-form-item{
  padding-bottom: 1rem;
}

/* $$ Login page end ----------------------------------------------*/

/* $$ welcome page ----------------------------------------------*/

.welcome-row__text .title{
  font-size: 2rem;
  font-weight: 900;
  color: #30aee6;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.welcome-row__text .inner{
  width: 50%;
  margin: auto;
  line-height: 2;
  padding-bottom: 1rem;
}

.welcome-row__text .img-row{
  width: 70%;
  max-width: 50rem;
  margin: auto;
}

/* $$ welcome page end ----------------------------------------------*/



