<template>
  <!-- 報表管理 -> 集貨總表 -->
  <div class="collectionSummaryForm-container">
    <el-form
      ref="collectionSummaryForm"
      class="collectionSummaryForm-form"
      label-position="right"
      :model="collectionSummaryForm"
      label-width="180px"
    >
      <div style="width: 100%">
        <div class="collectionSummaryForm-title">
          {{ $t("pageContent.consolidationList") }}
        </div>
      </div>
      <el-divider />
      <el-form-item :label="$t('pageContent.consolidationDC')">
        <el-radio-group v-model="collectionSummaryForm.areaRadio" size="medium">
          <el-radio-button
            v-for="item in areaData"
            :key="item.dcCode"
            :label="item.dcCode"
          >{{ item.dcName }}</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item>
        <span slot="label">
          <el-checkbox v-model="collectionSummaryForm.arriveCheck" />
          {{ $t("pageContent.deliveryDate") }}
        </span>
        <el-date-picker
          v-model="collectionSummaryForm.arriveTime"
          type="daterange"
          :range-separator="$t('pageContent.to')"
          start-placeholder=""
          end-placeholder=""
        />
      </el-form-item>
      <el-form-item>
        <span slot="label">
          <el-checkbox v-model="collectionSummaryForm.orderCheck" />
          {{ $t("pageContent.orderDate") }}
        </span>
        <el-date-picker
          v-model="collectionSummaryForm.orderDate"
          type="date"
          placeholder=""
        />
      </el-form-item>
      <br>
      <div style="width: 100%">
        <div class="collectionSummaryForm-title">
          {{ $t("pageContent.costcoDailyDistributionStatistics") }}
        </div>
      </div>
      <el-divider />
      <el-form-item>
        <span slot="label">
          {{ $t("pageContent.deliveryDate") }}
        </span>
        <el-date-picker
          v-model="collectionSummaryForm.costcoDailyDate"
          type="date"
          placeholder=""
        />
      </el-form-item>
      <el-button
        type="primary"
        icon="el-icon-search"
        style="margin-left:10px;"
        :disabled="
          !(
            collectionSummaryForm.areaRadio !== null &&
            (collectionSummaryForm.orderCheck ||
              collectionSummaryForm.arriveCheck)
          )
        "
        @click="onQueryClick"
      >
        {{ $t("button.export") }}
      </el-button>
    </el-form>
  </div>
</template>

<script>
import XEUtils from 'xe-utils'
import { dcListSearch, reportExport } from '@/api/reportManagement'

export default {
  data() {
    return {
      collectionSummaryForm: {
        areaRadio: null, // 區域
        orderDate: new Date(), // 單據日期
        arriveTime: [new Date(), new Date()], // 配送日期
        orderCheck: false, // 單據日期勾選
        arriveCheck: true, // 配送日期勾選
        costcoDailyDate: new Date() // costco配送日期
      },
      areaData: [], // 區域列表
      loading: null
    }
  },
  beforeMount() {
    this.getDcData()
    const day_1 = new Date().setDate(new Date().getDate() + 1)
    const day_2 = new Date().setDate(new Date().getDate() + 2)
    this.collectionSummaryForm.arriveTime = [day_1, day_2]
    this.collectionSummaryForm.costcoDailyDate = day_1
  },
  methods: {
    /**
     * 取得DC列表
     * @date 2021-06-30
     */
    getDcData() {
      dcListSearch()
        .then(res => {
          this.areaData = res.data
        })
        .catch(err => {
          console.error(err)
        })
    },
    /**
     * 「條件」查詢，匯出集貨總表
     * @date 2021-06-30
     */
    onQueryClick() {
      // 檢查是否都未輸入日期
      if (
        this.collectionSummaryForm.orderDate === null &&
        this.collectionSummaryForm.orderCheck
      ) {
        this.$message({
          message:
            this.$t('pageContent.needInput') + this.$t('pageContent.orderDate'),
          type: 'error'
        })
        return
      }
      if (
        this.collectionSummaryForm.arriveTime === null &&
        this.collectionSummaryForm.arriveCheck
      ) {
        this.$message({
          message:
            this.$t('pageContent.needInput') +
            this.$t('pageContent.deliveryDate'),
          type: 'error'
        })
        return
      }
      this.loadingAlert()
      const areaRadio = this.collectionSummaryForm.areaRadio // 區域(全部、五股、觀音、晶富、虎尾、仁武)
      // 今日日期
      const nowDate =
        this.collectionSummaryForm.orderDate !== null
          ? XEUtils.toDateString(
            new Date(),
            'yyyyMMdd'
          )
          : null
      // 訂單日期
      const orderDate =
        this.collectionSummaryForm.orderDate !== null
          ? XEUtils.toDateString(
            this.collectionSummaryForm.orderDate,
            'yyyyMMdd'
          )
          : null
      // 配送開始日期
      const arriveTimeStart =
        this.collectionSummaryForm.arriveTime !== null
          ? XEUtils.toDateString(
            this.collectionSummaryForm.arriveTime[0],
            'yyyyMMdd'
          )
          : null
      // 配送結束日期
      const arriveTimeEnd =
        this.collectionSummaryForm.arriveTime !== null
          ? XEUtils.toDateString(
            this.collectionSummaryForm.arriveTime[1],
            'yyyyMMdd'
          )
          : null
      // 取得DC名稱，放置檔名用
      const areaName = this.areaData.find(v => {
        return v.dcCode === areaRadio
      }).dcName
      // costco配送日期
      const costcoArriveTime =
        this.collectionSummaryForm.costcoDailyDate !== null
          ? XEUtils.toDateString(
            this.collectionSummaryForm.costcoDailyDate,
            'yyyyMMdd'
          )
          : null
      const title = this.$t('pageContent.consolidationList')
      const fileName = `${areaName}${title}${nowDate}.xlsx`
      // 動態配置URL,判定勾選的查詢日期種類
      let url = `/b2b/api/collection_list?dcNo=${areaRadio}`
      if (this.collectionSummaryForm.orderCheck) {
        url += `&date=${orderDate}`
      }
      if (this.collectionSummaryForm.arriveCheck) {
        url += `&arriveTimeStart=${arriveTimeStart}&arriveTimeEnd=${arriveTimeEnd}`
      }
      if (this.collectionSummaryForm.costcoDailyDate) {
        url += `&costcoArriveTime=${costcoArriveTime}`
      }
      reportExport(url)
        .then(res => {
          this.loading.close()
          const url = window.URL.createObjectURL(new Blob([res]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', fileName)
          document.body.appendChild(link)
          link.click()
          this.$message({
            message: this.$t('message.success.search'),
            type: 'success'
          })
        })
        .catch(err => {
          this.loading.close()
          console.error(err)
          this.$message({
            message: this.$t('message.fail.search'),
            type: 'error'
          })
        })
    },
    /**
     * loading圖示
     * @date 2021-06-30
     */
    loadingAlert() {
      this.loading = this.$loading({
        lock: true,
        text: this.$t('message.loading.dataProcess'),
        spinner: 'el-icon-loading',
        background: 'rgba(255, 255, 255, 0.7)',
        customClass: 'create-isLoading'
      })
    }
  }
}
</script>

<style lang="scss">
.collectionSummaryForm {
  &-container {
    background-color: #fff;
    min-height: 100vh;
    padding: 0 20px 20px;
  }
  &-form {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
  }
  &-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
  }
}
.el-form-item__label {
  font-size: 20px;
}
.el-button {
  font-size: 20px;
}
.el-radio-button--medium .el-radio-button__inner {
  font-size: 20px;
}
.el-input__inner {
  font-size: 20px;
}
.el-select-dropdown__item {
  font-size: 20px;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator {
  font-size: 20px;
}
</style>
